<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">

<section layout:fragment="contents">
	<!-- 404 Page -->
      <section class="py-5 bg-white border-top border-bottom">
         <div class="container">
            <div class="row py-lg-5">
               <div class="col-lg-8 col-md-8 mx-auto text-center">
                  <h1><img class="img-fluid" th:src="@{/images/404.png}" alt="404"></h1>
                  <h1>Sorry! Page not found.</h1>
                  <p class="land">Unfortunately the page you are looking for has been moved or deleted.</p>
                  <div class="mt-5">
                     <a th:href="@{/}" class="btn btn-success"><i class="mdi mdi-home"></i> GO TO HOME PAGE</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End 404 Page -->
</section>
</html>

