<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">


<section layout:fragment="contents">
	<div class="py-5">
		<div class="container">
			<div class="row">
				<!-- Main Content -->
				<aside class="col col-xl-3 order-xl-1 col-lg-12 order-lg-1 col-12">
					<div
						class="box mb-3 shadow-sm rounded bg-white profile-box text-center">
						<div class="py-4 px-3 border-bottom">
					<img class="img-fluid mt-2 rounded-circle" th:src="@{/upload/} + ${session.loginedUser.profile_image}" onerror="this.src='/images/user/default.jpg'" alt="Responsive image">
							<h5 class="font-weight-bold text-dark mb-1 mt-4">[[${session.loginedUser.email }]]</h5>
							<h5 class="font-weight-bold text-dark mb-1 mt-4">[[${session.loginedUser.name }]]</h5>
							<h5 class="font-weight-bold text-dark mb-1 mt-4"> [[${session.loginedUser.nickname }]]</h5>
						</div>
						<div class="d-flex">
							<div class="col-6 border-right p-3">
								<h6 class="font-weight-bold text-dark mb-1">[[${statistics.buyOrder}]]건</h6>
								<p class="mb-0 text-black-50 small">구매 건수</p>
							</div>
							<div class="col-6 p-3">
								<h6 class="font-weight-bold text-dark mb-1">[[${statistics.sellOrder}]]건</h6>
								<p class="mb-0 text-black-50 small">판매 건수</p>
							</div>
						</div>
						<div class="d-flex">
							<div class="col-6 border-right p-3">
								<h6 class="font-weight-bold text-dark mb-1">[[${statistics.buySumOrder}]]원</h6>
								<p class="mb-0 text-black-50 small">구매 총가격</p>
							</div>
							<div class="col-6 p-3">
								<h6 class="font-weight-bold text-dark mb-1">[[${statistics.sellSumOrder}]]원</h6>
								<p class="mb-0 text-black-50 small">판매 총가격</p>
							</div>
						</div>
						<div class="d-flex">
							<div class="col-6 border-right p-3">
								<h6 class="font-weight-bold text-dark mb-1">[[${statistics.clickLike}]]번</h6>
								<p class="mb-0 text-black-50 small">누른 좋아요</p>
							</div>
							<div class="col-6 p-3">
								<h6 class="font-weight-bold text-dark mb-1">[[${statistics.clickedLike}]]번</h6>
								<p class="mb-0 text-black-50 small">눌린 좋아요</p>
							</div>
						</div>
						<div class="d-flex">
							<div class="col-6 p-3 overflow-hidden border-top border-right">
								<a class="font-weight-bold p-2 d-block" th:href="@{/logout}">
									로그아웃 </a>
							</div>
							<div class="col-6 p-3 overflow-hidden border-top">
								<a th:if=${session.loginedUser.type}!=2 class="font-weight-bold p-2 d-block" th:href="@{/mypage/4}">
									내정보수정 </a>
								<a th:if=${session.loginedUser.type}==2 class="font-weight-bold p-2 d-block" th:href="@{/mypage/5}">
									내정보수정 </a>	
							</div>
						</div>

					</div>
					<!-- <div class="box shadow-sm  rounded bg-white mb-3">
						<div class="box-title border-bottom p-3">
							<h6 class="m-0">Skills & Endorsements</h6>
						</div>
						<div class="box-body">
							<div
								class="d-flex align-items-center osahan-post-header p-3 border-bottom people-list">
								<div class="dropdown-list-image mr-3">
									<img class="rounded-circle" th:src="@{/images/l4.png}" alt="">
								</div>
								<div class="font-weight-bold">
									<div class="text-truncate">
										Character Concept <span class="badge badge-dark ml-1">1</span>
									</div>
									<div class="small text-muted">
										<span class="text-primary">You and 1 connection</span> have
										given endorsements for this skill
									</div>
								</div>
							</div>
							<div
								class="d-flex align-items-center osahan-post-header p-3 border-bottom people-list">
								<div class="dropdown-list-image mr-3">
									<img class="rounded-circle" th:src="@{/images/l8.png}" alt="">
								</div>
								<div class="font-weight-bold">
									<div class="text-truncate">
										Digital Painting <span class="badge badge-danger ml-1">6</span>
									</div>
									<div class="small text-muted">
										<span class="text-primary">Ask</span> has given an endorsement
										for this skill
									</div>
								</div>
							</div>
							<div
								class="d-flex align-items-center osahan-post-header p-3 people-list">
								<div class="dropdown-list-image mr-3">
									<img class="rounded-circle" th:src="@{/images/l5.png}" alt="">
								</div>
								<div class="font-weight-bold">
									<div class="text-truncate">
										Adobe Photoshop <span class="badge badge-info ml-1">3</span>
									</div>
									<div class="small text-muted">
										<span class="text-primary">Julia Cox</span> has given an
										endorsement for this skill
									</div>
								</div>
							</div>
						</div>
					</div>
					<div
						class="box shadow-sm mb-3 rounded bg-white ads-box text-center overflow-hidden">
						<img th:src="@{/images/job1.png}" class="img-fluid"
							alt="Responsive image">
						<div class="p-3 border-bottom">
							<h6 class="font-weight-bold text-dark">Osahan Solutions</h6>
							<p class="mb-0 text-muted">Looking for talent?</p>
						</div>
						<div class="p-3">
							<button type="button" class="btn btn-outline-success pl-4 pr-4">
								POST A JOB</button>
						</div>
					</div> -->
				</aside>




				<!-- ================================================================================================================================== -->

				<main th:if="${page}=='0'"
					class="col col-xl-9 order-xl-2 col-lg-12 order-lg-2 col-md-12 col-sm-12 col-12">
					<div class="box shadow-sm rounded bg-white mb-3">
						<div class="d-flex box-title border-bottom p-3">
							<h6 class="m-0 col-6 bold">거래내역</h6>
							<div class="col-4"></div>
							<!-- <button type="button" class="btn btn-light btn-sm col-2"
								th:onclick="|location.href='@{/mypage/1/1}'|">모든정보보기</button>
 -->
						</div>

						<div class="box-body p-3">
							<div>
								<table class="table table-striped">
								



									<thead>
										<tr>
											<th>날짜</th>
											<th>상품제목</th>
											<th>판매자/구매자</th>
											<th>수량</th>
											<th>총 가격</th>
											<th>상태</th>
											<th></th>
										</tr>

									</thead>
									<tbody class="likepost">
										<tr th:each="order: ${orders}">
										<!-- 판매자쪽 부분 -->
											<th:block
												th:if=${session.loginedUser.user_id}==${order.seller_id}>
												<td
													th:text="${#temporals.format(order.createdAt,'yyyy-MM-dd')}"></td>
												<td class="titttle" th:id="${order.product_id}"
													th:text="${order.title}" style="cursor: pointer;width:130px;
													overflow: auto;" ></td>
												<td th:text="${order.nickname}"></td>
												<td th:text="${order.order_qty}"></td>
												<td th:text="${order.order_price}"></td>
												
												<th:block th:if=${order.order_status}==0>
													<td>수락대기</td>
													<td><a class="btn btn-success btn-green ok"  th:id="'ok'+${order.order_id}"
																		>수락</a></td>
													<td><a class="btn btn-success btn-green deny"  th:id="'deny'+${order.order_id}"
																		>거절</a></td>					
												</th:block>
												<th:block th:if=${order.order_status}==1>
													<td>작업중</td>
													<td><a class="btn btn-success btn-green finish"  th:id="'finish'+${order.order_id}"
																		>작업완료</a></td>
													<td><a class="btn btn-success btn-green deny3"  th:id="'deny3'+${order.order_id}"
																		>거래 취소</a></td>					
												</th:block>
												<th:block th:if=${order.order_status}==2>
													<td>작업완료(구매자 확인 대기)</td>
													
												</th:block>
												<th:block th:if=${order.order_status}==3>
													<td>거래완료(구매자 확인 완료/입금 대기)</td>
													
												</th:block>
												<th:block th:if=${order.order_status}==4>
													<td>거래완료(입금완료)</td>
													
												</th:block>
												<th:block th:if=${order.order_status}==5>
													<td>거래완료(입금완료)</td>
													
												</th:block>
												<th:block th:if=${order.order_status}==6>
													<td>거래취소(신청 거부)</td>
													
												</th:block>
												
												
												<th:block th:if=${order.order_status}==7>
													<td>구매자가 거래 취소 요청했습니다</td>
													<td><a class="btn btn-success btn-green ok1"  th:id="'ok1'+${order.order_id}"
																		>거래취소 수락</a></td>
													<td><a class="btn btn-success btn-green deny1"  th:id="'deny1'+${order.order_id}"
																		>거래취소 거부</a></td>					
													
												</th:block>
												
												<th:block th:if=${order.order_status}==8>
													<td>거래취소 요청</td>
													
												</th:block>
												<th:block th:if=${order.order_status}==9>
													<td>거래취소</td>
													
												</th:block>
											</th:block>
											<!-- 구매자쪽 부분 -->
											<th:block
												th:if=${session.loginedUser.user_id}!=${order.seller_id}>
												<td
													th:text="${#temporals.format(order.createdAt,'yyyy-MM-dd')}"></td>
												<td class="titttle" th:id="${order.product_id}"
													th:text="${order.title}" style="cursor: pointer;width:130px;
													overflow: auto;"></td>
												<td class="selller" th:id="${order.seller_id}"
													th:text="${order.nickname2}" style="cursor: pointer"></td>
												<td th:text="${order.order_qty}"></td>
												<td th:text="${order.order_price}"></td>
												<th:block th:if=${order.order_status}==0>
													<td>구매신청</td>
													
												</th:block>
												<th:block th:if=${order.order_status}==1>
													<td>작업중</td>
													<td><a class="btn btn-success btn-green cancel"  th:id="'cancel'+${order.order_id}"
																		>구매자 거래 취소</a></td>
													
												</th:block>
												<th:block th:if=${order.order_status}==2>
													<td>작업완료(확인 대기) </td>
													<td><a class="btn btn-success btn-green confirm"  th:id="'confirm'+${order.order_id}"
																		>작업물 확인 완료</a></td>
												</th:block>
												<th:block th:if=${order.order_status}==3>
													<td>거래완료(구매자 확인 완료/입금 대기)</td>
													
												</th:block>
												<th:block th:if=${order.order_status}==4>
													<td>거래완료(입금완료)</td>
													
												</th:block>
												<th:block th:if=${order.order_status}==5>
													<td>거래완료(입금완료)</td>
													
												</th:block>
												<th:block th:if=${order.order_status}==6>
													<td>거래 취소(판매자 수락 거절)</td>
													
												</th:block>
												
												
												<th:block th:if=${order.order_status}==7>
													<td>거래 취소 요청</td>
													
												</th:block>
												
												<th:block th:if=${order.order_status}==8 >
													<td>판매자가 거래 취소 요청</td>
												<td><a class="btn btn-success btn-green ok5"  th:id="'deny1'+${order.order_id}"
																		>거래취소 확인</a></td>		
												
												<td><a class="btn btn-success btn-green deny5"  th:id="'deny1'+${order.order_id}"
																		>거래취소 거부</a></td>		
													
												</th:block>
												
												<th:block th:if=${order.order_status}==9>
													<td>거래취소</td>
													
												</th:block>
											
											<td th:if=${order.order_status}==4>
												<div class="container">
													<div class="row" style="margin-top: 0;">
														<div class="col-md-12">
															<div class="well well-sm">
																
																<div class="text-right" style="padding-bottom: 10px;">
																	<button class="btn btn-success btn-green open-review-box"  th:id="'open-review-box'+${order.order_id}"
																		>리뷰 작성</button>
																</div>

																<div class="row" th:id="'post-review-box'+${order.order_id}" style="display: none;">
																	<div class="col-md-12">
																		<form>
																			<input id="ratings-hidden" name="rating"
																				type="hidden">
																			<textarea class="form-control animated" cols="50"
																				th:id="'new-review'+${order.order_id}" name="comment"
																				placeholder="리뷰를 입력해주세요" rows="5"></textarea>


																			<div name="myform" class="myform" >
																							
																				<fieldset>
																					<input type="radio" th:class="'rating'+${order.order_id}" name="rating" value="5"
																						th:id="'rate1'+${order.order_id}"><label th:for="'rate1'+${order.order_id}">⭐</label> <input
																						type="radio" th:class="'rating'+${order.order_id}" name="rating" value="4" th:id="'rate2'+${order.order_id}"><label
																						th:for="'rate2'+${order.order_id}">⭐</label> <input type="radio"
																						th:class="'rating'+${order.order_id}" name="rating" value="3" th:id="'rate3'+${order.order_id}"><label
																						th:for="'rate3'+${order.order_id}">⭐</label> <input type="radio"
																						th:class="'rating'+${order.order_id}" name="rating" value="2" th:id="'rate4'+${order.order_id}"><label
																						th:for="'rate4'+${order.order_id}">⭐</label> <input type="radio"
																						th:class="'rating'+${order.order_id}" name="rating" value="1" th:id="'rate5'+${order.order_id}"><label
																						th:for="'rate5'+${order.order_id}">⭐</label>
																				</fieldset> 
																			</div>
																			


																			



																			<div class="text-right" style="padding-top:10px;">

																				<a class="btn btn-danger btn-lg close-review-box" th:href="@{#}"
																					th:id="'close-review-box'+${order.order_id}"
																					style="display: none; margin-right: 10px;"> <span
																					class="glyphicon glyphicon-remove"></span>Cancel
																				</a>
																				<button class="btn btn-success btn-lg review" th:id="${order.order_id}" type="button">Save</button>
																			</div>
																		</form>
																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>

											</td>
											</th:block>
										</tr>
									</tbody>

								</table>
							</div>

						</div>
					</div>
					<div class="box shadow-sm rounded bg-white mb-3">
						<div class="d-flex box-title border-bottom p-3">
							<h6 class="m-0 col-6 bold">찜한 게시물</h6>
							<div class="col-4"></div>

							<button type="button" class="btn btn-light btn-sm col-2"
								th:onclick="|location.href='@{/mypage/2/1}'|">모든정보보기</button>

						</div>
						<div class="box-body p-3">
							<div>
								<table class="table table-striped">
									<thead>
										<tr>
											<th>날짜</th>
											<!-- <th>찜누른닉네임</th> -->
											<th>제목</th>
											<th>판매자</th>
										</tr>
									</thead>
									<tbody class="likepost">
									     
										<tr th:each="likepost: ${likeposts}">
											<td th:text="${#temporals.format(likepost.createdAt,'yyyy-MM-dd')}"></td>
										
											<!-- <td th:text="${likepost.nickname}"></td> -->
											<td class="titttle" th:id="${likepost.product_id}" th:text="${likepost.title}" style="cursor:pointer"></td>
											<td th:text="${likepost.nickname}"></td>
											<td><a class="navbar-brand" th:id="${likepost.like_id}">
											<!--<img class="heart" th:id="${likepost.like_id}" th:src="@{/images/heartheart.png}" style="width:80%;cursor:pointer" alt="">-->
											<i class="fa fa-heart heart" th:id="${likepost.like_id}" style="cursor: pointer; color:#2cdd9b;" ></i>
											</a></td>
											
											
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<th:block th:if=${session.loginedUser.type}==2>
					<div class="box shadow-sm rounded bg-white mb-3">
						<div class="d-flex box-title border-bottom p-3">
							<h6 class="m-0 col-6 bold">관리자로부터 받은 메세지</h6>
							
						</div>
						<div class="box-body p-3">
							<div>
								<table class="table table-striped">
									<thead>
										<tr>
											<th>날짜</th>
											<th>보낸 사람</th>
											<th>내용</th>
											<th>게시물 제목</th>
											
										</tr>
									</thead>
									<tbody class="likepost">
										<tr th:each="warning: ${warnings}">
											<td th:text="${#temporals.format(warning.send_time,'yyyy-MM-dd')}"></td>
											<!-- <td th:text="${warning.send_time}"></td> -->
											<td>관리자</td>
											<td th:text="${warning.title}" style="color: red;"></td>
											<td th:text="${warning.content}"></td>
										</tr>
									</tbody>

								</table>
							</div>
						</div>
					</div>
					</th:block>

					
				</main>

				



				<!-- ========================================================================================================== -->


			
			</div>
		</div>
	</div>
	  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script>
		$(function() {
			
					 
						 
			
			$(".review").click(function(e) {
				let id = e.currentTarget.id;
				var rating1 = '.rating' + id + ':checked';
				var rating2 = $(rating1).val();//내가 선택한 별점
				var content = $('#new-review' + id).val();
				
				console.log(id);
				console.log(rating1);
				console.log(rating2);
				console.log(content);
				if (rating2 === undefined) {
					alert('별점을 입력하세요');
				}
				$.ajax({
					type : "post",
					dataType : "text",
					async : false,
					url : "/review",
					data : {
						"order_id" : id,
						"rating" : rating2,
						"content" : content
					},
					success : function(data, textStatus) {
						if (data == 'true') {
							alert('리뷰를 등록했습니다.');
							location.reload();
						} else {
							alert('오류가 발생했습니다');

						}
					},

				});

			});
			
			
			
			$(".ok").click(function(e) {
				 let id = e.currentTarget.id.slice(2);
				 console.log(id);
				 console.log(id);
				
				
				$.ajax({
					type : "post",
					dataType : "text",
					async : false,
					url : "/updatestatus",
					data : {
						"id" : id,"num":1,
					},
					success : function(data, textStatus) {
						console.log("success");
						swal("알림","거래를 수락하였습니다");
						location.reload();
					},

				});

			});
			
			$(".deny").click(function(e) {
				 let id = e.currentTarget.id.slice(4);
				 console.log(id);
				 console.log(id);
				
				
				$.ajax({
					type : "post",
					dataType : "text",
					async : false,
					url : "/updatestatus",
					data : {
						"id" : id,"num":6,
					},
					success : function(data, textStatus) {
						console.log("success");
						swal("알림","거래를 거절했습니다");
						location.reload();
					},

				});

			});
			
			$(".finish").click(function(e) {
				 let id = e.currentTarget.id.slice(6);
				 console.log(id);
				 console.log(id);
				
				
				$.ajax({
					type : "post",
					dataType : "text",
					async : false,
					url : "http://localhost:8090/updatestatus",
					data : {
						"id" : id,"num":2,
					},
					success : function(data, textStatus) {
						console.log("success");
						swal("알림","작업을 완료하였습니다");
						location.reload();
					},

				});

			});
			
			$(".confirm").click(function(e) {
				 let id = e.currentTarget.id.slice(7);
				 console.log(id);
				 console.log(id);
				
				
				$.ajax({
					type : "post",
					dataType : "text",
					async : false,
					url : "/updatestatus",
					data : {
						"id" : id,"num":3,
					},
					success : function(data, textStatus) {
						console.log("success");
						swal("알림","작업물 확인을 완료했습니다");
						location.reload();
					},

				});

			});
			
			$(".cancel").click(function(e) {
				 let id = e.currentTarget.id.slice(6);
				 console.log(id);
				 console.log(id);
				
				
				$.ajax({
					type : "post",
					dataType : "text",
					async : false,
					url : "/updatestatus",
					data : {
						"id" : id,"num":7,
					},
					success : function(data, textStatus) {
						console.log("success");
						swal("알림","작업물 확인을 완료했습니다");
						location.reload();
					},

				});

			});
			
			$(".ok1").click(function(e) {
				 let id = e.currentTarget.id.slice(3);
				 console.log(id);
				 console.log(id);
				
				
				$.ajax({
					type : "post",
					dataType : "text",
					async : false,
					url : "/updatestatus",
					data : {
						"id" : id,"num":9,
					},
					success : function(data, textStatus) {
						console.log("success");
						swal("알림","거래 취소를 수락했습니다");
						location.reload();
					},

				});

			});
			
			$(".deny1").click(function(e) {
				 let id = e.currentTarget.id.slice(5);
				 console.log(id);
				 console.log(id);
				
				
				$.ajax({
					type : "post",
					dataType : "text",
					async : false,
					url : "/updatestatus",
					data : {
						"id" : id,"num":1,
					},
					success : function(data, textStatus) {
						console.log("success");
						swal("알림","거래를 취소했습니다");
						location.reload();
					},

				});

			});
			
			$(".deny3").click(function(e) {
				 let id = e.currentTarget.id.slice(5);
				 console.log(id);
				 console.log(id);
				
				
				$.ajax({
					type : "post",
					dataType : "text",
					async : false,
					url : "/updatestatus",
					data : {
						"id" : id,"num":8,
					},
					success : function(data, textStatus) {
						console.log("success");
						swal("알림","거래 취소를 거부했습니다.");
						location.reload();
					},

				});

			});
			
			$(".ok5").click(function(e) {
				 let id = e.currentTarget.id.slice(5);
				 console.log(id);
				 console.log(id);
				
				
				$.ajax({
					type : "post",
					dataType : "text",
					async : false,
					url : "/updatestatus",
					data : {
						"id" : id,"num":9,
					},
					success : function(data, textStatus) {
						console.log("success");
						swal("알림","거래 취소 요구를 승락했습니다.");
						location.reload();
					},

				});

			});
			
			$(".deny5").click(function(e) {
				 let id = e.currentTarget.id.slice(5);
				 console.log(id);
				 console.log(id);
				
				
				$.ajax({
					type : "post",
					dataType : "text",
					async : false,
					url : "/updatestatus",
					data : {
						"id" : id,"num":1,
					},
					success : function(data, textStatus) {
						console.log("success");
						swal("알림","거래 취소를 거부했습니다");
						location.reload();
					},

				});

			});
			
			
			
			$(".heart").click(function(e) {
				let id = e.currentTarget.id;
		
			

				console.log(id);
				
				
				$.ajax({
					type : "post",
					dataType : "text",
					async : false,
					url : "/heartremove",
					data : {
						"like_id" : id,
					},
					success : async (data, textStatus) => {
						if (data == 'true') {
							
							await swal("알림","찜하기 취소");							
							location.reload();
						} else {
							await swal("검색어를 입력해주세요.");
						}
					},
				});
			});
			
			$(".titttle").click(function(e) {
				let id = e.currentTarget.id;//포스트 아이디
			
			

				console.log(id);
				
				
				$.ajax({
					type : "post",
					dataType : "text",
					async : false,
					url : "/clicktitle",
					data : {
						"id" : id,
					},
					success : function(data, textStatus) {
						
							location.reload();
							location.replace(data)
					},

				});

			});
			
			$(".selller").click(function(e) {
				let id = e.currentTarget.id;//포스트 아이디
		
			

				console.log(id);
				
				
				$.ajax({
					type : "post",
					dataType : "text",
					async : false,
					url : "/clickname",
					data : {
						"id" : id,
					},
					success : function(data, textStatus) {
						
							location.reload();
							location.replace(data)
					},

				});

			});
			
			

		});
	</script>


</section>

</html>

