<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">


<section layout:fragment="contents">
	<div class="py-5">
		<div class="container">
			<div class="row">
				<!-- Main Content -->
				<aside class="col col-xl-3 order-xl-1 col-lg-12 order-lg-1 col-12">
					<div
						class="box mb-3 shadow-sm rounded bg-white profile-box text-center">
						<div class="py-4 px-3 border-bottom">
							<img th:src="@{/images/user/s4.png}"
								class="img-fluid mt-2 rounded-circle" alt="Responsive image">
							<h5 class="font-weight-bold text-dark mb-1 mt-4">[[${session.loginedUser.email }]]</h5>
							<h5 class="font-weight-bold text-dark mb-1 mt-4">[[${session.loginedUser.name }]]</h5>
							<h5 class="font-weight-bold text-dark mb-1 mt-4">[[${session.loginedUser.nickname }]]</h5>
						</div>
						<div class="d-flex">
							<!-- <div class="col-6 border-right p-3">
								<h6 class="font-weight-bold text-dark mb-1">[[${statistics.buyOrder}]]건</h6>
								<p class="mb-0 text-black-50 small">구매 건수</p>
							</div>
							<div class="col-6 p-3">
								<h6 class="font-weight-bold text-dark mb-1">[[${statistics.sellOrder}]]건</h6>
								<p class="mb-0 text-black-50 small">판매 건수</p>
							</div>
						</div>
						<div class="d-flex">
							<div class="col-6 border-right p-3">
								<h6 class="font-weight-bold text-dark mb-1">[[${statistics.buySumOrder}]]원</h6>
								<p class="mb-0 text-black-50 small">구매 총가격</p>
							</div>
							<div class="col-6 p-3">
								<h6 class="font-weight-bold text-dark mb-1">[[${statistics.sellSumOrder}]]원</h6>
								<p class="mb-0 text-black-50 small">판매 총가격</p>
							</div>
						</div>
						<div class="d-flex">
							<div class="col-6 border-right p-3">
								<h6 class="font-weight-bold text-dark mb-1">[[${statistics.clickLike}]]번</h6>
								<p class="mb-0 text-black-50 small">누른 좋아요</p>
							</div>
							<div class="col-6 p-3">
								<h6 class="font-weight-bold text-dark mb-1">[[${statistics.clickedLike}]]번</h6>
								<p class="mb-0 text-black-50 small">눌린 좋아요</p>
							</div>
						</div> -->
						<div class="d-flex">
							<div class="col-12 p-3 overflow-hidden border-top border-right">
								<a class="font-weight-bold p-2 d-block" th:href="@{/logout}">
									로그아웃 </a>
							</div>
							<!-- <div class="col-6 p-3 overflow-hidden border-top">
								<a th:if=${session.loginedUser.type}==0 class="font-weight-bold p-2 d-block" th:href="@{/mypage/4}">
									내정보수정 </a>
								<a th:if=${session.loginedUser.type}==2 class="font-weight-bold p-2 d-block" th:href="@{/mypage/5}">
									내정보수정 </a>	
							</div>
						</div>

					</div>
					<!-- <div class="box shadow-sm  rounded bg-white mb-3">
						<div class="box-title border-bottom p-3">
							<h6 class="m-0">Skills & Endorsements</h6>
						</div>
						<div class="box-body">
							<div
								class="d-flex align-items-center osahan-post-header p-3 border-bottom people-list">
								<div class="dropdown-list-image mr-3">
									<img class="rounded-circle" th:src="@{/images/l4.png}" alt="">
								</div>
								<div class="font-weight-bold">
									<div class="text-truncate">
										Character Concept <span class="badge badge-dark ml-1">1</span>
									</div>
									<div class="small text-muted">
										<span class="text-primary">You and 1 connection</span> have
										given endorsements for this skill
									</div>
								</div>
							</div>
							<div
								class="d-flex align-items-center osahan-post-header p-3 border-bottom people-list">
								<div class="dropdown-list-image mr-3">
									<img class="rounded-circle" th:src="@{/images/l8.png}" alt="">
								</div>
								<div class="font-weight-bold">
									<div class="text-truncate">
										Digital Painting <span class="badge badge-danger ml-1">6</span>
									</div>
									<div class="small text-muted">
										<span class="text-primary">Ask</span> has given an endorsement
										for this skill
									</div>
								</div>
							</div>
							<div
								class="d-flex align-items-center osahan-post-header p-3 people-list">
								<div class="dropdown-list-image mr-3">
									<img class="rounded-circle" th:src="@{/images/l5.png}" alt="">
								</div>
								<div class="font-weight-bold">
									<div class="text-truncate">
										Adobe Photoshop <span class="badge badge-info ml-1">3</span>
									</div>
									<div class="small text-muted">
										<span class="text-primary">Julia Cox</span> has given an
										endorsement for this skill
									</div>
								</div>
							</div>
						</div>
					</div> -->
					<!-- <div
						class="box shadow-sm mb-3 rounded bg-white ads-box text-center overflow-hidden">
						<img th:src="@{/images/job1.png}" class="img-fluid"
							alt="Responsive image">
						<div class="p-3 border-bottom">
							<h6 class="font-weight-bold text-dark">Osahan Solutions</h6>
							<p class="mb-0 text-muted">Looking for talent?</p>
						</div>
						<div class="p-3">
							<button type="button" class="btn btn-outline-success pl-4 pr-4">
								</button>
						</div>
					</div> -->
				</aside>




				<!-- ================================================================================================================================== -->

				<main th:if="${page}=='0'"
					class="col col-xl-9 order-xl-2 col-lg-12 order-lg-2 col-md-12 col-sm-12 col-12">
					<div class="box shadow-sm rounded bg-white mb-3">
						<div class="d-flex box-title border-bottom p-3">
							<h6 class="m-0 col-6 bold">모든 거래 상황</h6>
							
						</div>
						<div class="box-body p-3">
							<div>
								<table class="table table-striped">
									<thead>
										<tr>
											<th>날짜</th>
											<th>상품제목</th>
											<th>구매자</th>
											<th>판매자</th>
											<th>구매수량</th>
											<th>총 가격</th>
											<th>상태</th>
											<th></th>
										</tr>

									</thead>
									<tbody class="likepost">
										<tr th:each="order: ${orders3}">
										
											
												<td
													th:text="${#temporals.format(order.createdAt,'yyyy-MM-dd')}"></td>
												<td class="titttle" th:id="${order.product_id}"
													th:text="${order.title}" style="cursor: pointer"></td>
												<td th:text="${order.nickname}"></td>
												<td class="selller" th:id="${order.seller_id}" th:text="${order.nickname2}" style="cursor: pointer"></td>
												<td th:text="${order.order_qty}"></td>
												<td th:text="${order.order_price}"></td>

												<th:blcok th:if=${order.order_status}==0>
												<td>구매신청/수락대기</td>
												</th:blcok>
												<th:blcok th:if=${order.order_status}==1>
												<td>작업중</td>
												</th:blcok>
												<th:blcok th:if=${order.order_status}==2>
												<td>구매자가 결과물 확인중</td>
												</th:blcok>
												<th:blcok th:if=${order.order_status}==3>
												<td>관리자 입금 대기</td>
												</th:blcok>
												<th:blcok th:if=${order.order_status}==4>
												<td>거래완료</td>
												</th:blcok>
												<th:blcok th:if=${order.order_status}==5>
												<td>거래완료</td>
												</th:blcok>
												<th:blcok th:if=${order.order_status}==6>
												<td>판매자의 거래 거절 인한 취소</td>
												</th:blcok>
												<th:blcok th:if=${order.order_status}==7>
												<td>구매자의 거래 취소 요청</td>
												</th:blcok>
												<th:blcok th:if=${order.order_status}==8>
												<td>거래완료</td>
												</th:blcok>
												<th:blcok th:if=${order.order_status}==9>
												<td>거래취소</td>
												</th:blcok>
												
								

											</th:block>
										
											
										</tr>
									</tbody>

								</table>
							</div>
						</div>
					</div>
					<div class="box shadow-sm rounded bg-white mb-3">
						<div class="d-flex box-title border-bottom p-3">
							<h6 class="m-0 col-6 bold">거래 입금 관리</h6>
							
						</div>
						<div class="box-body p-3">
							<div>
								<table class="table table-striped">
									<thead>
										<tr>
											<th>날짜</th>
											<th>상품제목</th>
											<th>구매자</th>
											<th>판매자</th>
											<th>구매수량</th>
											<th>총 가격</th>
											<th>상태</th>
											<th></th>
										</tr>

									</thead>
									<tbody class="likepost">
										<tr th:each="order: ${orders2}">
										<!-- 판매자쪽 부분 -->
											
												<td
													th:text="${#temporals.format(order.createdAt,'yyyy-MM-dd')}"></td>
												<td class="titttle" th:id="${order.product_id}"
													th:text="${order.title}" style="cursor: pointer"></td>
												<td th:text="${order.nickname}"></td>
												<td th:text="${order.nickname2}"></td>
												<td th:text="${order.order_qty}"></td>
												<td th:text="${order.order_price}"></td>

												<td>거래완료</td>
												
												
												<th:blcok th:if=${order.order_status}==3>
												<td><a class="btn btn-success btn-green deposit"
													th:id="'deposit'+${order.order_id}">입금완료</a></td>
												</th:blcok>

											</th:block>
										
											
										</tr>
									</tbody>

								</table>
							</div>
						</div>
					</div>
					
					
					<div class="box shadow-sm rounded bg-white mb-3">
						<div class="d-flex box-title border-bottom p-3">
							<h6 class="m-0 col-6 bold">신고내역</h6>
							<!-- <div class="col-4"></div>
							<button type="button" class="btn btn-light btn-sm col-2"
								th:onclick="|location.href='@{/mypage/1/1}'|">모든정보보기</button> -->

						</div>

						<div class="box-body p-3">
							<div>
								<table class="table table-striped">
									<thead>
										<tr>
											<th>날짜</th>
											<th>상품제목</th>
											<th>판매자</th>
											<th>신고내용</th>
										</tr>

									</thead>
									<tbody class="likepost">
										<tr th:each="report: ${reports}">
										
											<td th:text="${#temporals.format(report.createdAt,'yyyy-MM-dd')}"></td>
											
											
											<td class="titttle" th:id="${report.product_id}" th:text="${report.title}" style="cursor:pointer"></td>
											<td class="selller" th:id="${report.reported_userid}" th:text="${report.nickname}" style="cursor:pointer"></td>
											<td th:text="${report.reason}"></td>
											<td><div class="text-right">
											<button class="btn btn-success btn-green postdelete"  th:id="'post'+${report.product_id}">게시글삭제</button>
																</div></td>
											<td><div class="text-right">
											<button class="btn btn-success btn-green warning"  th:id="'warning'+${report.report_id}">경고</button>
																</div></td>		
										
										</tr>
									</tbody>

								</table>
							</div>

						</div>
					</div>
					<div class="box shadow-sm rounded bg-white mb-3">
						<div class="d-flex box-title border-bottom p-3">
							<h6 class="m-0 col-3 bold">판매자 유저 관리</h6>
							<div class="col-7"></div>
							<div class="dropdown col-2">
								<button class="btn btn-secondary dropdown-toggle" type="button"
									id="dropdownMenuButton" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">정렬
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item sort2" id="sortBoardCount">게시물순</a> <a
										class="dropdown-item sort2" id="sortPriceTotal">판매총액순</a> <a
										class="dropdown-item sort2" id="sortreported">당한신고순</a> <a
										class="dropdown-item sort2" id="sortliked">눌린좋아요순</a>
										 
								</div>
							</div>

						

						</div>
						<div class="box-body p-3">
							<div>
								<table class="table table-striped">
									<thead>
										<tr>
											<th>닉네임</th>
											
											<th>게시물개수</th>
											<th>판매총액</th>
											<th>당한신고횟수</th>
											<th>눌린좋아요횟수</th>
											
										</tr>
									</thead>
									<tbody class="likepost" id="kkk">
									
										<tr th:each="sortBoardCount: ${sortBoardCounts}">
										<th:block th:if="${sortBoardCount.type==2}">
											<td th:text="${sortBoardCount.nickname}"></td>
											<td th:text="${sortBoardCount.boardCount}"></td>
											<td th:text="${sortBoardCount.allPrice}"></td>
											<td th:text="${sortBoardCount.reported}"></td>
											<td th:text="${sortBoardCount.liked}"></td>
											<td><div class="text-right">
											<button class="btn btn-success btn-green userdelete"  th:id="${sortBoardCount.user_id}" onclick=userdelete(this)>유저삭제</button>
																</div></td>
											
										</th:block>	
											
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- <div class="box shadow-sm rounded bg-white mb-3">
						<div class="d-flex box-title border-bottom p-3">
							<h6 class="m-0 col-6 bold">쪽지</h6>
							<div class="col-4"></div>
							<button type="button" class="btn btn-light btn-sm col-2"
								th:onclick="|location.href='@{/mypage/3}'|">모든정보보기</button>
						</div>
						<div class="box-body p-3">
							<div>
								<table class="table table-striped">
									<thead>
										<tr>
											<th>날짜</th>
											<th>보낸사람닉네임</th>
											<th>관련포스트제목</th>
											<th>받은사람닉넹미</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="order: ${orders}">
											<td th:text="${order.createdAt}"></td>
											<td th:text="${order.nickname}"></td>
											<td th:text="${order.title}"></td>
											<td th:text="${order.nickname2}"></td>
										</tr>
									</tbody>

								</table>
							</div>
						</div>
					</div> -->

					<!-- <div class="box shadow-sm rounded bg-white mb-3">
						<div class="box-title border-bottom p-3">
							<h6 class="m-0">Education</h6>
						</div>
						<div class="box-body p-3 border-bottom">
							<div class="d-flex align-items-top job-item-header pb-2">
								<div class="mr-2">
									<h6 class="font-weight-bold text-dark mb-0">Stanford
										University</h6>
									<div class="text-truncate text-primary">Master’s
										programmes</div>
									<div class="small text-gray-500">Oct 2020 - Present (4
										year 7 month)</div>
								</div>
								<img class="img-fluid ml-auto mb-auto"
									th:src="@{/images/e1.png}" alt="">
							</div>
							<p class="mb-0">Find the most qualified people in the most
								unexpected places. Information for applicants to consider when
								applying for local positions.</p>
						</div>
						<div class="box-body p-3">
							<div class="d-flex align-items-top job-item-header pb-2">
								<div class="mr-2">
									<h6 class="font-weight-bold text-dark mb-0">Harvard
										University</h6>
									<div class="text-truncate text-primary">Maths and science
										education</div>
									<div class="small text-gray-500">Oct 2020 - Present (4
										year 7 month)</div>
								</div>
								<img class="img-fluid ml-auto mb-auto"
									th:src="@{/images/e2.png}" alt="">
							</div>
							<p class="mb-0">Wualified people in the most unexpected
								places. Information for applicants to consider when applying for
								local positions.</p>
						</div>
					</div> -->
				</main>

				



				<!-- ========================================================================================================== -->


			
			</div>
		</div>
	</div>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script>
	function userdelete(e) {
		let id = e.id;
		//let id = e.currentTarget.id;
		$.ajax({
			type : "post",
			dataType : "text",
			async : false,
		
			url : "/userdelete",
			data : {
				"id":id,
			},
			success : function(data, textStatus) {
				alert(data);
				/* location.reload();
				location.replace(data); */
			},

		});
	};
	
	
		$(function() {
			
			$(".sort2").click(function(e) {
				let id = e.currentTarget.id;
				console.log(id);
				$.ajax({
					type : "post",
				
				
					url : "/sortBoardCount",
					data : {
						"id":id,
					},
					success : function(data, textStatus) {
						console.log("success");
					
					},

				}).done(function(fragment){
					$('#kkk').replaceWith(fragment);
				});

			});
			

			$(".postdelete").click(function(e) {
			
				
				 let id = e.currentTarget.id.slice(4);
				 console.log(id);
				$.ajax({
					type : "post",
					dataType : "text",
					async : false,
					url : "/postdelete",
					data : {
						"id" : id,
					},
					success : function(data, textStatus) {
							console.log("success");
							location.reload();
							
					},

				});

			});
			
			
			$(".warning").click(function(e) {
				
				
				 let id = e.currentTarget.id.slice(7);
				 console.log(id);
				$.ajax({
					type : "post",
					dataType : "text",
					async : false,
					url : "/postwarning",
					data : {
						"id" : id,
					},
					success : function(data, textStatus) {
							console.log("success");
							alert("경고 메세지를 보냈습니다.");
							location.reload();
							
					},

				});

			});
			
			$(".deposit").click(function(e) {
				 let id = e.currentTarget.id.slice(7);
				 console.log(id);
				 console.log(id);
				
				
				$.ajax({
					type : "post",
					dataType : "text",
					async : false,
					url : "/updatestatus",
					data : {
						"id" : id,"num":4,
					},
					success : async (data, textStatus) => {
						console.log("success");
						await swal("알림","계좌 입금을 완료했습니다");
						location.reload();
					},

				});

			});
			
			$(".titttle").click(function(e) {
				let id = e.currentTarget.id;//포스트 아이디
		
			

				console.log(id);
				
				
				$.ajax({
					type : "post",
					dataType : "text",
					async : false,
					url : "/clicktitle",
					data : {
						"id" : id,
					},
					success : function(data, textStatus) {
						
							location.reload();
							location.replace(data)
					},

				});

			});
			
			$(".selller").click(function(e) {
				let id = e.currentTarget.id;//포스트 아이디
		
			

				console.log(id);
				
				
				$.ajax({
					type : "post",
					dataType : "text",
					async : false,
					url : "/clickname",
					data : {
						"id" : id,
					},
					success : function(data, textStatus) {
						
							location.reload();
							location.replace(data)
					},

				});

			});
			
			

		});
	</script>


</section>

</html>

