<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">
  <section layout:fragment="contents">
  <section class="section-padding bg-dark py-5 inner-header">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <h1 class="mt-0 mb-3 text-white">Contact Us</h1>
                  <div class="breadcrumbs">
                     <p class="mb-0 text-white"><a class="text-white" th:href="@{/}">Home</a>  /  <span class="text-success">Contact Us</span></p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="py-5 bg-white">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-4">
                  <h3 class="mt-1 mb-4">찾아오는 </h3>
                  <h6 class="text-dark"><i class="mdi mdi-home-map-marker"></i> 주소  :</h6>
                  <p>서울특별시 강남구 언주로 508 서울상록빌딩</p>
                  <h6 class="text-dark"><i class="mdi mdi-phone"></i> Phone :</h6>
                  <p>+82 12345-67890, (+82) 123 456 7890</p>
                  <h6 class="text-dark"><i class="mdi mdi-deskphone"></i> 모바일 :</h6>
                  <p>(+82) 02 123 4567, +82 02-123-4567</p>
                  <h6 class="text-dark"><i class="mdi mdi-email"></i> 이메일 :</h6>
                  <p>mulcam@gmail.com</p>
                  <h6 class="text-dark"><i class="mdi mdi-link"></i> 웹 사이트 :</h6>
                  <p>www.hi-er.com</p>
                  <div class="footer-social mb-4"><span>Follow : </span>
                     <a href="#"><i class="mdi mdi-facebook"></i></a>
                     <a href="#"><i class="mdi mdi-twitter"></i></a>
                     <a href="#"><i class="mdi mdi-instagram"></i></a>
                     <a href="#"><i class="mdi mdi-google"></i></a>
                  </div>
               </div>
               <div class="col-lg-8 col-md-8">
                  <div class="card">
                     <div class="card-body">
                        <div class="map" id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
                           <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div>
                           <script>(function () {
                              var setting = {"height":450,"width":803,"zoom":15,"queryString":"Candás, Korea","place_id":"ChIJuXoxw-aANg0RZ1DUQHMSFTM","satellite":false,"centerCoord":[43.59051127662882,-5.768219799999998],"cid":"0x3315127340d45067","lang":"en","cityUrl":"/spain/candas-8349","cityAnchorText":"Map of Candas, Asturias, Spain","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"215844"};
                              var d = document;
                              var s = d.createElement('script');
                              s.src = 'https://1map.com/js/script-for-user.js?embed_id=215844';
                              s.async = true;
                              s.onload = function (e) {
                                window.OneMap.initMap(setting)
                              };
                              var to = d.getElementsByTagName('script')[0];
                              to.parentNode.insertBefore(s, to);
                              })();
                           </script><a href="https://1map.com/map-embed">1 Map</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Contact Us -->
      <!-- Contact Me -->
      <section class="py-5">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 col-md-12 section-title text-left mb-4">
                  <h2>Contact Us</h2>
               </div>
               <form class="col-lg-12 col-md-12" name="sentMessage">
                  <div class="row">
                     <div class="control-group form-group col-lg-4 col-md-4">
                        <div class="controls">
                           <label>Your Name <span class="text-danger">*</span></label>
                           <input type="text" class="form-control" required>
                        </div>
                     </div>
                     <div class="control-group form-group col-lg-4 col-md-4">
                        <div class="controls">
                           <label>Email Address <span class="text-danger">*</span></label>
                           <input type="email" class="form-control" required>
                        </div>
                     </div>
                     <div class="control-group form-group col-lg-4 col-md-4">
                        <div class="controls">
                           <label>Phone Number <span class="text-danger">*</span></label>
                           <input type="email" class="form-control" required>
                        </div>
                     </div>
                  </div>
                  <div class="control-group form-group">
                     <div class="controls">
                        <label>Message <span class="text-danger">*</span></label>
                        <textarea rows="10" cols="100" class="form-control"></textarea>
                     </div>
                  </div>
                  <button type="submit" class="btn btn-success">문의 하기</button>
               </form>
            </div>
         </div>
      </section>
  </section>
      <!-- End Contact Me -->
      
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Contact form JavaScript -->
      <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
      <script src="js/jqBootstrapValidation.js"></script>
      <script src="js/contact_me.js"></script>
      <!-- Slick -->
      <script src="vendor/slick-master/slick/slick.js" type="text/javascript" charset="utf-8"></script>
      <!-- lightgallery -->
      <script src="vendor/lightgallery-master/dist/js/lightgallery-all.min.js"></script>
      <!-- select2 Js -->
      <script src="vendor/select2/js/select2.min.js"></script>
      <!-- Custom -->
      <script src="js/custom.js"></script>
   </body>
</html>