<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">
<section layout:fragment="contents">
	<div class="py-5">
		<div class="container">
			<div class="row">
				<!-- Main Content -->
				<aside class="col-md-4">
					<div
						class="box mb-3 shadow-sm rounded bg-white profile-box text-center">
						<!-- 	<div class="py-4 px-3 border-bottom"> -->
						<img src="images/dh/freelancer.png" class="img-fluid mt-2"
							alt="Responsive image">
						<!-- </div> -->
						<!-- <div class="p-4">
                        <label data-toggle="tooltip" data-placement="top" data-original-title="Upload New Picture" class="btn btn-info m-0" for="fileAttachmentBtn">
                        <i class="mdi mdi-image"></i> Upload
                        <input id="fileAttachmentBtn" name="file-attachment" type="file" class="d-none">
                        </label>
                        <button data-toggle="tooltip" data-placement="top" data-original-title="Delete" type="submit" class="btn btn-danger"><i class="mdi mdi-delete"></i> Delete</button>
                     </div> -->
					</div>
				</aside>

				<main class="col-md-8">
					<div class="shadow-sm rounded bg-white mb-3">
						<div class="box-title border-bottom p-3">
							<h6 class="m-0">프리랜서 전환</h6>
							<p class="mb-0 mt-0 small">소개글, 주소를 작성해주세요</p>
						</div>
						<div class="box-body p-3">

							<form role="form" action="/freelancerForm" method="post"
								class="js-validate" novalidate="novalidate">
								<div class="row">
									<!-- Input -->
									<div class="col-sm-6 mb-2">
										<div class="js-form-message">
											<label id="nameLabel" class="form-label"> 이메일 <span
												class="text-danger">*</span>
											</label>
											<div class="form-group">
												<input type="text" class="form-control" id="email"
													name="email" th:value="${user.email}"
													aria-label="Enter your name" aria-describedby="nameLabel"
													data-msg="Please enter your name."
													data-error-class="u-has-error"
													data-success-class="u-has-success" disabled>
											</div>
										</div>
									</div>
									<!-- End Input -->
								</div>
								<div class="row">
									<!-- Input -->
									<div class="col-sm-6 mb-2">
										<div class="js-form-message">
											<label id="organizationLabel" class="form-label"> 주소
												<span class="text-danger">*</span>
											</label>
											<div class="form-group">
												<input type="button" class="btn btn-success"
													onclick="sample6_execDaumPostcode()" value="주소 찾기"><br>
												<input type="text" class="form-control" id="sample6_address"
													placeholder="주소" name="address"> <input type="text"
													class="form-control" id="sample6_detailAddress"
													placeholder="상세주소" name="address2">
											</div>
										</div>
									</div>
									<!-- End Input -->

								</div>

								<div class="box-title border-bottom p-3">
									<h6 class="m-0">소개글 (양식에 맞춰서 글을 써주세요)</h6>
								</div>
								<div class="box-body">
									<div class="p-3">
										<div class="form-group mb-4">
											<div class="position-relative">
												<textarea class="form-control" rows="8"
													placeholder="경력, 자격증 등 자유롭게 작성해주세요" name="introduction">학력:

경력:

자격증:

사회활동:

 
													
</textarea>
											</div>
										</div>
									</div>
								</div>
								<div class="mb-3 text-right">
									<a href="/" class="btn btn-outline-success">취소</a>
									<button type="submit" class="btn btn-success" value="프리랜서전환">전환</button>
								</div>
							</form>
						</div>
					</div>


				</main>
			</div>
		</div>
	</div>
	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Slick -->
	<script src="vendor/slick-master/slick/slick.js" type="text/javascript"
		charset="utf-8"></script>
	<!-- lightgallery -->
	<script
		src="vendor/lightgallery-master/dist/js/lightgallery-all.min.js"></script>
	<!-- select2 Js -->
	<script src="vendor/select2/js/select2.min.js"></script>
	<!-- Custom -->
	<script src="js/custom.js"></script>


	<script
		src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
		function sample6_execDaumPostcode() {
			new daum.Postcode(
					{
						oncomplete : function(data) {
							// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

							// 각 주소의 노출 규칙에 따라 주소를 조합한다.
							// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
							var addr = ''; // 주소 변수
							var extraAddr = ''; // 참고항목 변수

							//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
							if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
								addr = data.roadAddress;
							} else { // 사용자가 지번 주소를 선택했을 경우(J)
								addr = data.jibunAddress;
							}

							// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
							if (data.userSelectedType === 'R') {
								// 법정동명이 있을 경우 추가한다. (법정리는 제외)
								// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
								if (data.bname !== ''
										&& /[동|로|가]$/g.test(data.bname)) {
									extraAddr += data.bname;
								}
								// 건물명이 있고, 공동주택일 경우 추가한다.
								if (data.buildingName !== ''
										&& data.apartment === 'Y') {
									extraAddr += (extraAddr !== '' ? ', '
											+ data.buildingName
											: data.buildingName);
								}

							} else {
								document.getElementById("sample6_extraAddress").value = '';
							}

							//주소 정보를 해당 필드에 넣는다.
							document.getElementById("sample6_address").value = addr;
							// 커서를 상세주소 필드로 이동한다.
							document.getElementById("sample6_detailAddress")
									.focus();
						}
					}).open();
		}
	</script>

</section>


</html>