<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">

<section layout:fragment="contents">
	<section class="py-5 homepage-search-block position-relative">
		<div class="container">
			<div class="row py-lg-5">
				<div class="col-lg-7">
					<div class="homepage-search-title">
						<h1 class="mb-3 text-shadow text-gray-900 font-weight-bold">
							프리랜서 마켓 No.1 Hi-er에서 
							<br>
							원하는 전문가를 찾아보세요!
						</h1>
						<h5 class="mb-5 text-shadow text-gray-800 font-weight-normal">
							수백만 명의 사람들이 Hi-er를 사용하여 아이디어를 현실로 만듭니다.						
						</h5>
					</div>
					<div class="homepage-search-form">
						<form class="form-noborder" action="/search" method="GET">
							<div class="form-row">
								<div class="col-lg-3 col-md-3 col-sm-12 form-group" style="padding-left:400px;">
									<div class="location-dropdown">
										<i class="icofont-location-arrow"></i>
									</div>
								</div>
								<div class="col-lg-7 col-md-7 col-sm-12 form-group">
									<input type="text" placeholder="서비스를 검색하세요"
										class="form-control border-0 form-control-lg shadow-sm">
								</div>
								<div class="col-lg-2 col-md-2 col-sm-12 form-group">
									<button type="submit"
										class="btn btn-success btn-block btn-lg btn-gradient shadow-sm">
										<i class="fa fa-search"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
					<div class="popular">
						<span class="text-body-2">Popular</span>
						<ul>
							<li><a href="#" class="text-body-2">로고 브랜딩</a></li>
							<li><a href="#" class="text-body-2">쇼핑몰 제작</a></li>
							<li><a href="#" class="text-body-2">영상 촬영 편집</a></li>
							<li><a href="#" class="text-body-2">사진 촬영</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-5">
					<img class="img-fluid" src="images/banner.svg" alt='' />
				</div>
			</div>
		</div>
	</section>
	<!--       social -->
	<!--       social -->
	<!--       recent -->
	<!--       최고 판매 유저 리스트  -->
	<div class="freelance-projects bg-white py-5">
		<div class="container view_slider recommended">
			<h3>최고 판매 유저</h3>
			<div class="row freelance-slider">
				<div class="col" th:each="user: ${bestUserList}">
					<div class="freelancer">
						<img src="images/senatopcustudio.jpg">
						<div class="freelancer-footer">
							<img src="images/user/user3.svg">
							<div>
							<div style="display: flex;">
							<div>
							<h5>
								[[${user.nickname}]]
							</h5>
							</div> 
							<div style="padding-left:20px;">
								[[${user.product_type}]]
							</div>
							</div> 
								<div>
								<h5>
								평점:[[${user.stars}]]
								</div>
								<p style="padding-top:10px;">[[${user.intro}]]</p>
							</h5>
							</div>
						</div>
					</div>
				</div>			
			</div>
		</div>
	</div>
	<!--       freelancer projects -->
	<!--       recent -->
	<section class="py-5">
		<div class="view_slider recommended">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
			<h3>최고 평점 게시물 </h3>
						<div class="view recent-slider recommended-slider">
							<div class="col" th:each="product: ${bestProduct}">
								<a href="product-detail.html"> <img class="img-fluid"
									src="images/list/v1.png" />
								</a>
								<div class="inner-slider">
									<div class="inner-wrapper">
										<div class="d-flex align-items-center">
											<span class="seller-image"> <img class="img-fluid"
												src="images/user/user1.png" alt='' />
											</span> <span class="seller-name"> <a href="profile.html">[[${product.title}]]</a> <span class="level hint--top level-one-seller">
													Level 1 Seller </span>
											</span>
										</div>
										<h3>[[${product.product_content}]]</h3>
										<div class="content-info">
											<div class="rating-wrapper">
												<span class="gig-rating text-body-2"> <svg
														xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"
														width="15" height="15">
                                             <path fill="currentColor"
															d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                             </path>
                                          </svg> [[${product.work_available}]] <span>(7)</span>
												</span>
											</div>
										</div>
										<div class="footer">
											<i class="fa fa-heart" aria-hidden="true"></i>
											<div class="price">
												<a href="#"> Starting At <span> $[[${product.commission}]]</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>

	</section>
	<!--       recent -->
	<!--       services-->
	<div class="services-wrapper bg-white py-5">
		<div class="container">
			<h2>가장 인기있는 서비스</h2>
			<div class="row service-slider">
				<div class="col">
					<div class="service">
						<img src="images/service-01.jpg">
						<h3>
							<span>Build Your Brand</span> Logo Design
						</h3>
					</div>
				</div>
				<div class="col">
					<div class="service">
						<img src="images/service-02.jpg">
						<h3>
							<span>Customize your site</span> wordpress
						</h3>
					</div>
				</div>
				<div class="col">
					<div class="service">
						<img src="images/service-03.jpg">
						<h3>
							<span>share your message</span> voice over
						</h3>
					</div>
				</div>
				<div class="col">
					<div class="service">
						<img src="images/service-04.jpg">
						<h3>
							<span>engage your audience</span> whiteboard
						</h3>
					</div>
				</div>
				<div class="col">
					<div class="service">
						<img src="images/service-05.jpg">
						<h3>
							<span>reach more customers</span> social media
						</h3>
					</div>
				</div>
				<div class="col">
					<div class="service">
						<img src="images/service-01.jpg">
						<h3>
							<span>Build Your Brand</span> Logo Design
						</h3>
					</div>
				</div>
				<div class="col">
					<div class="service">
						<img src="images/service-02.jpg">
						<h3>
							<span>Customize your site</span> wordpress
						</h3>
					</div>
				</div>
				<div class="col">
					<div class="service">
						<img src="images/service-03.jpg">
						<h3>
							<span>share your message</span> voice over
						</h3>
					</div>
				</div>
				<div class="col">
					<div class="service">
						<img src="images/service-04.jpg">
						<h3>
							<span>engage your audience</span> whiteboard
						</h3>
					</div>
				</div>
				<div class="col">
					<div class="service">
						<img src="images/service-05.jpg">
						<h3>
							<span>reach more customers</span> social media
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--       testimonials -->
	<!--       guides  -->
	<div class="guide-wrapper py-5">
		<div class="container">
			<h2>
				Maer Guides <a href="#" class="float-right">See More guides></a>
			</h2>
			<div class="row">
				<div class="col-md-4">
					<a href="#" class="guide"> <img src="images/guide-01.jpg">
						<div class="content">
							<h6>Create a Website</h6>
							<p>Building a stunning website from A to Z</p>
						</div>
					</a>
				</div>
				<div class="col-md-4">
					<a href="#" class="guide"> <img src="images/guide-02.jpg">
						<div class="content">
							<h6>Grow With Digital Marketing</h6>
							<p>Promoting your business online</p>
						</div>
					</a>
				</div>
				<div class="col-md-4">
					<a href="#" class="guide"> <img src="images/guide-03.jpg">
						<div class="content">
							<h6>Build a Strong Brand</h6>
							<p>Differentiating yourself from the competition</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--       guides  -->
	<!-- get started -->
	<div>
		<div class="get-started">
			<div class="content" style="text-align: center;">
				<h2>Hi-er 전문가로 등록하고, <br> 수익을 창출해보세요! </h2>
				<p>Hi-er에서는 누구나 전문가가 될 수 있습니다. <br>당신의 전문성을 필요로하는 사람, Hi-er에 다 모여있어요.</p>
				<a href="/프리랜서 전환페이" class="c-btn c-fill-color-btn">전문가 등록하기</a>
			</div>
		</div>
	</div>
	<!-- get started -->
</section>

</html>