
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layout}"
>
<head>
    <style>
        .list:hover {
            cursor: Pointer;
            opacity: 60%;

        }

        .msl {
            margin: 3px 0;
        }
    </style>

</head>
<section layout:fragment="contents">
    <div class="py-5">
        <div class="container">
            <div class="row">
                <!-- Main Content -->
                <main id="main_box" class="col col-xl-9 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                    <div class="box shadow-sm rounded bg-white mb-3 osahan-chat">
                        <h5 class="pl-3 pt-3 pr-3 border-bottom mb-0 pb-3">Messaging</h5>
                        <div class="row m-0">
                            <div id= "msgb" class="border-right col-lg-5 col-xl-4 px-0">
                                <div class="osahan-chat-left" id="msg_box">
                                    <div class="position-relative icon-form-control p-3 border-bottom">
                                        <i class="fa fa-search position-absolute"></i>
                                        <input id="searchMsg" placeholder="닉네임으로 검색하세요." type="text"
                                               class="form-control">
                                    </div>
                                    <div id="ms" class="osahan-chat-list">

                                        <div th:each="msgList : ${msgList}" onclick="view(this)"
                                             th:name="${msgList.msg_id}"
                                             class="p-3 d-flex align-items-center osahan-post-header overflow-hidden list">
                                            <img class="dropdown-list-image mr-3 d-flex align-items-center bg-success justify-content-center rounded-circle text-white" th:src="@{/upload/} + ${msgList.profile_image}"
                                                 onerror="this.src='/images/user/default.jpg'">

                                            <div class="font-weight-bold mr-1 overflow-hidden">
                                                <div th:text="${msgList.send_nickname}"
                                                     class="text-truncate overflow-hidden">Stacie
                                                    Hall
                                                </div>
                                                <div th:text="${msgList.title}"
                                                     class="small text-truncate overflow-hidden text-black-50">
                                                </div>
                                            </div>

                                            <div class="ml-auto mb-auto">
                                                <div class="text-right text-muted pt-1 small msl"
                                                     th:text="${msgList.send_time}">00:21PM
                                                </div>
                                                <div class="text-right text-muted pt-1 small msl"
                                                     th:text="${msgList.read_chk}==0?'읽음'">00:21PM
                                                </div>
                                            </div>

                                        </div>
                                        <div class="footer-pagination text-center">
                                            <nav th:replace="fragments/pagination :: pagination"></nav>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="msg_list" class="col-lg-7 col-xl-8 px-0">
                                <div class="p-3 d-flex align-items-center  border-bottom osahan-post-header">
                                    <div class="font-weight-bold mr-1 overflow-hidden">
                                        <div class="text-truncate">Message Box
                                        </div>
                                    </div>
                                    <span class="ml-auto">
                                 <div class="btn-group">
                                    <button type="button" class="btn btn-light btn-sm rounded" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                       <button class="dropdown-item" type="button" th:onclick="del()"><i
                                               class="mdi mdi-trash"></i> Delete</button>
                                       <button class="dropdown-item" type="button"><i class="mdi mdi-x-circle"></i> Turn Off</button>
                                    </div>
                                 </div>
                              </span>
                                </div>
                                <div id="test11" th:each="message_view : ${message_view}" style="margin: 0 auto"
                                     class="osahan-chat-box p-3 border-top border-bottom bg-light">
                                    <div class="card-header" th:text="${message_view.title}" name="title"
                                         th:id="${message_view.msg_id}"
                                         style="text-align: center">msg_list
                                    </div>
                                    <div class="card-body" th:text="${message_view.content}">msg_list</div>
                                </div>
                                <div class="w-100 border-top border-bottom">

                                </div>
                                <div class="p-3 d-flex align-items-center">
                                    <span class="ml-auto">
                              <button style="margin: 38px 207px" th:onclick="check()" type="button"
                                      class="btn btn-success btn-sm rounded" data-toggle="modal"
                                      data-target="#exampleModal">
                              <i class="mdi mdi-send"></i> 답장 보내기
                              </button>
                              </span>
                                    <div th:replace="fragments/message :: message_modal"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <aside class="col col-xl-3 order-xl-2 col-lg-12 order-lg-2 col-12">

                </aside>
            </div>
        </div>
    </div>
</section>
</html>

<script>
    function view(e) {
        const msg_id = $(e).attr('name');
        const page = $(".active").children('.page-link').text();
        $.ajax({
            type: "POST",
            url: "/message/" + msg_id,
            success: function (data) {
                console.log(msg_id);
                console.log("성공");
                $("#ms").load("?currentPageNo=" + page + " #ms");

            }
        }).done(function (fragment) {
            $("#msg_list").replaceWith(fragment);
        });
    }

    function send() {
        const title = $('#title').val();
        const content = $('#content').val();

        if (title == "") {
            swal("알림", "제목을 입력해주세요.");
            return;
        }
        if (content == "") {
            swal("알림", "메세지를 입력해주세요.");
            return;
        }

        const messageForm = {
            recv_user_id: '',
            title: $("#title").val(),
            content: $("#content").val(),
        }

        $.ajax({
            type: "POST",
            url: "/send",
            cache: false,
            data: messageForm,
            success: function (data) {
                swal(data);
                if (data == "메세지 전송 성공!!") {
                    $('#exampleModal').modal('hide');
                    show.bs.modal
                }
            },
            error: function (request, status, error) {
                swal("에러 발생")
            }
        })

    }

    $('.modal').on('hidden.bs.modal', function (e) {
        console.log('modal close');
        $(this).find('#message')[0].reset();

    });

    function check() {

        if ($("div[name=title]").val() == null) {
            swal("알림", "답장할 메세지를 선택해 주세요.");
            $('#exampleModal').modal('hide');

        }
        // swal($("h3[name=title]").val());
    }

    function del() {
        const msg_id = $("div[name=title]").attr('id');
        const page = $(".active").children('.page-link').text();
        console.log(page);
        console.log(msg_id);
        $.ajax({
            type: "POST",
            url: "/message/delete/" + msg_id,
            cache: false,
            success: function (data) {
                swal(data);
                $("#ms").load("?currentPageNo=" + page + " #ms");
                $("#test11").load(location.href + " #test11");
            },
            error: function (request, status, error) {
                swal("에러 발생");

            }
        }).done(function () {
            // location.reload("sort=avg_star_point&currentPageNo=1&recordsPerPage=12&pageSize=5&keyword=");

        })
    }

    $("#searchMsg").keyup(function (key) {
        const nickname = $("input[id='searchMsg']").val();
        if (key.keyCode == 13) {
            if (nickname == "") {
                swal("알림", "검색할 닉네임을 입력해주세요.");
            } else {
                $.ajax({
                    type: "POST",
                    url: "/message/search",
                    cache: false,
                    data: {
                        "nickname": nickname
                    },
                    success: function (data) {
                        swal("검색 성공!!");

                    },
                    error: function (request, status, error) {
                        swal("에러 발생");

                    }
                })
                    .done(function (fragment) {
                    $('#ms').replaceWith(fragment);
                })
            }
        }
    });
    function movePage(uri, queryString) {
        // const nickname = "${msgList.nickname}";
        // console.log(nickname);
        $("#ms").load(queryString + queryString + " #ms");

    }


</script>
