<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">
<section layout:fragment="contents">
	<!-- Inner Header -->
	<section class="py-5"  style="padding-top: 2rem!important; padding-bottom: 2rem!important;">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<img th:src="@{/images/홈배너.jpg}" width="100%">
				</div>
			</div>
		</div>
	</section>
	<!-- End Inner Header -->
	<!--   header -->
	<div class="third-menu filter-options py-3">
		<div class="container">
			<div class="row">
				<div
					class="col-lg-12 d-flex align-items-center justify-content-between">
					<div class="left">
						<div class="sorting d-flex align-items-center">
							<div class="dropdown-filters d-flex">
								<div class="dropdown ml-4">
									<button class="btn btn-secondary dropdown-toggle" type="button"
										id="delivery" data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false">검색 필터</button>
									<div class="dropdown-menu delivery" aria-labelledby="delivery">
										<div class="options">
											<div class="row">
												<div class="col-md-12">
													<div class="fake-radio-wrapper">

														<form name="filter" method="post">
															<label id= "didi" class="fake-radio"><input type="radio"
																name="filter" value="product_id" checked><span
																class="radio-img"></span><span>최신순</span> </label> <label
																class="fake-radio"><input type="radio"
																name="filter" value="avg_star_point"><span class="radio-img"></span><span>평점순</span>
															</label> <label class="fake-radio"><input type="radio"
																name="filter" value="review_count"><span class="radio-img"></span><span>리뷰많은순</span>
															</label>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="sorting d-flex align-items-center">
						<div class="dropdown-filters d-flex">
							<div class="dropdown ml-4">
								<button class="btn btn-secondary dropdown-toggle" type="button"
										 data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false">카테고리</button>
								<div class="dropdown-menu delivery" aria-labelledby="delivery">
									<div class="options">
										<div class="row">
											<div class="col-md-12">
												<div class="fake-radio-wrapper">

													<form name="category" method="post">
														<label class="fake-radio"><input type="radio"
																						 name="category" value="design"><span
																class="radio-img"></span><span>디자인</span> </label> <label
															class="fake-radio"><input type="radio"
																					  name="category" value="video"><span class="radio-img"></span><span>영상</span>
													</label> <label class="fake-radio"><input type="radio"
																							  name="category" value="it"><span class="radio-img"></span><span>it</span>
													</label>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="right">

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main-page best-selling" id="productList">
		<div class="view_slider recommended pt-5">
			<div class="container">
				<div
					class="sorting-div d-flex align-items-center justify-content-between">
					<p class="mb-2"></p>
					
				</div>
				<h3 >전체</h3>
			</div>
			<div class="container">
				<div class="row">
					<div th:each="productList : ${productList}" class="col-md-3">
						<a th:href="@{/post/detail/{pid}(pid = ${productList.product_id})}"> <img class="img-fluid"
							th:src="@{/upload/} + ${productList.filename1}" onerror="this.src='/images/list/v1.png'" style="object-fit: fill"/>
						</a>
						<div class="inner-slider">
							<div class="inner-wrapper">
								<div class="d-flex align-items-center">
									<span class="seller-image"> <img class="img-fluid"
										th:src="@{/images/user/s3.png}" alt='' />
									</span> <span class="seller-name"> <a
										th:text="${productList.nickname}" th:href="@{/freelancerInfo/{id}(id = ${productList.seller_id})}">닉네임</a> <span
										th:text="${productList.job}"
										class="level hint--top level-one-seller"> 직업 </span>
									</span>
								</div>
								<a th:href="@{/post/detail/{pid}(pid = ${productList.product_id})}"><h3 th:text="${productList.title}" style="white-space:nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: bolder">제목</h3></a>>
								<div class="content-info">
									<div class="rating-wrapper">
										<span class="gig-rating text-body-2"> <svg
												xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"
												width="15" height="15">
                                       <path fill="currentColor"
													d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                       </path>
                                    </svg>
											[[${#numbers.formatDecimal(productList.avg_star_point,0,1)}]]<span
											th:text="'('+${productList.review_count}+')'">(리뷰 수)</span>
										</span>
									</div>
								</div>
								<div class="footer">
									<!-- <i class="fa fa-heart" aria-hidden="true"></i> -->
									<span th:text="${productList.createdAt}"></span>
									<div class="price">
										Basic <span th:text="'₩'+${#numbers.formatInteger(productList.b_price, 0 , 'COMMA')}">
											₩비용</span>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-pagination text-center">
			<nav th:replace="fragments/pagination :: pagination"></nav>
		</div>
	</div>
</section>

</html>

<script>
	$("input[name=filter]").change(function updateProductList() {

		const value = $(this).val()
		$.ajax({
			type : "POST",
			data : {
				"value" : value
			},

			success : function(data) {
				history.pushState({}, null, "?sort="+value+"&currentPageNo=1&recordsPerPage=12&pageSize=5&keyword=[[${params.keyword}]]&category=[[${params.category}]]");

				},

		}).done(function(fragment) {

			$('#productList').replaceWith(fragment);


		});
		// console.log(value);
		/*  $("form[name='filter']").submit(); */
	})

	$("input[name=category]").change(function updateProductList() {
		const value = $(this).val();
		$.ajax({
			type : "POST",
			data : {
				"value" : value
			},

			success : function(data) {
				const sch= location.search;
				const params = new URLSearchParams(sch);
				const sort = params.get("sort");
				console.log(sort);
				history.pushState({}, null, "?sort="+sort+"&currentPageNo=1&recordsPerPage=12&pageSize=5&keyword=[[${params.keyword}]]&category="+value);

				// console.log(data);

				// console.log(value);
			},


		}).done(function(fragment) {

			$('#productList').load(location.href + " #productList");


		});
	})

	function movePage(uri, queryString) {
		const sch= location.search;
		const params = new URLSearchParams(sch);
		const category = params.get("category");
		console.log(category);
		history.pushState({}, null, queryString+category);
		$("#productList").load(uri + queryString + category + " #productList");
	}
	window.onpopstate = function(event) {
		$("#productList").load(location.href + " #productList");

	};




</script>