<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">
<section layout:fragment="contents">
	<!-- Inner Header -->
	<section class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<img src="images/dh/productposter.png">
				</div>
			</div>
		</div>
	</section>
	<!-- End Inner Header -->
	<!--   header -->
	<div class="third-menu filter-options py-3">
		<div class="container">
			<div class="row">
				<div
					class="col-lg-12 d-flex align-items-center justify-content-between">
					<div class="left">
											<div class="sorting d-flex align-items-center">
						<div class="dropdown-filters d-flex">
							<div class="dropdown ml-4">
								<button class="btn btn-secondary dropdown-toggle" type="button"
									id="delivery" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">검색 필터</button>
								<div class="dropdown-menu delivery" aria-labelledby="delivery">
									<div class="options">
										<div class="row">
											<div class="col-md-12">
												<div class="fake-radio-wrapper">
													<div>
														
														<input type="hidden"
															name="gig_items[2][0007284419489][gig_item_id]"
															value="117210558"><input type="hidden"
															name="gig_items[2][0007284419489][quantity]" value="0">
													</div>
													<form name="filter" method="get">
													<label class="fake-radio"><input type="radio"
														name="filter" value="1" checked><span class="radio-img"></span><span>최신순</span>
														</label>

													<label class="fake-radio"><input type="radio"
														name="filter" value="2"><span class="radio-img"></span><span>평점순</span>
													</label>
													
													 <label class="fake-radio"><input type="radio"
														name="filter" value="3" ><span class="radio-img"></span><span>리뷰많은순</span>
													</label>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
					<div class="right">
						<ul class="d-flex align-items-center">
							<li><label class="switch"> <input type="checkbox">
									<span class="slider round"></span>
							</label>
								<h5>디자인</h5></li>
							<li><label class="switch"> <input type="checkbox">
									<span class="slider round"></span>
							</label>
								<h5>영상</h5></li>
							<li><label class="switch"> <input type="checkbox">
									<span class="slider round"></span>
							</label>
								<h5>IT</h5></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/productList :: productList"></div>
</section>

</html>

<script>
$("input[type=radio]").click(function updateProductList(){
	 $.ajax({
	        url: "/product",
	        type: "GET",
	        data: $('input[name="filter"]'),
	    })
	    .done(function (fragment) {
	        $('#productList').replaceWith(fragment);
	    });
	
		
	
 /*  $("form[name='filter']").submit(); */
})
function updateProductList() {

    
   
}
</script>
