<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">
<head>
<style type="text/css">
.imgUpload {
	border: 4px solid grey;
	border-radius: 7px;
}

.ck.ck-editor {
	max-width: 100%;
}

.ck-editor__editable {
	min-height: 400px;
}
</style>
</head>

<section layout:fragment="contents">
	<div class="container">
		<h1>글쓰기</h1>
		<form name="board_write" method="post" action="/post/write">
			<div class="form-group">
				<label for="title">글 제목</label> <input type="text" name="title"
					class="form-control" placeholder="제목을 입력하세요 ">
			</div>
			<div class="form-group">
				<label for="title">사진 업로드</label>
				<table>
					<tr>
						<td><img id="rep1" name="img1"
							th:src="@{/images/imageUpladDefault.png}" class="imgUpload"
							width="270px" height="270px"></img> <input type="file" id="file1"
							name="file1" accept="image/*" style="display: none;" class="file"></td>
						<td><img id="rep2" name="img2"
							th:src="@{/images/imageUploadDefault.png}" class="imgUpload"
							width="270px" height="270px"></img><input type="file" id="file2"
							name="file2" accept="image/*" style="display: none;" class="file"></td>
						<td><img id="rep3" name="img3"
							th:src="@{/images/imageUploadDefault.png}" class="imgUpload"
							width="270px" height="270px"></img><input type="file" id="file3"
							name="file3" accept="image/*" style="display: none;" class="file"></td>
						<td><img id="rep4" name="img4"
							th:src="@{/images/imageUploadDefault.png}" class="imgUpload"
							width="270px" height="270px"></img><input type="file" id="file4"
							name="file4" accept="image/*" style="display: none;" class="file"></td>
					</tr>
					<tr>
						<td><img id="rep5" name="img5"
							th:src="@{/images/imageUploadDefault.png}" class="imgUpload"
							width="270px" height="270px"></img><input type="file" id="file5"
							name="file5" accept="image/*" style="display: none;" class="file"></td>
						<td><img id="rep6" name="img6"
							th:src="@{/images/imageUploadDefault.png}" class="imgUpload"
							width="270px" height="270px"></img><input type="file" id="file6"
							name="file6" accept="image/*" style="display: none;" class="file"></td>
						<td><img id="rep7" name="img7"
							th:src="@{/images/imageUploadDefault.png}" class="imgUpload"
							width="270px" height="270px"></img><input type="file" id="file7"
							name="file7" accept="image/*" style="display: none;" class="file"></td>
						<td><img id="rep8" name="img8"
							th:src="@{/images/imageUploadDefault.png}" class="imgUpload"
							width="270px" height="270px"></img><input type="file" id="file8"
							name="file8" accept="image/*" style="display: none;" class="file"></td>
					</tr>

				</table>
			</div>
			<div class="form-group">
				<label for="content">글 내용</label>
				<textarea id="editor" name="content" class="form-control">
					<b>서비스 설명을 작성해주세요</b>
					<br>
					<i>&lt; 예 &gt;</i>
					<p>내 서비스 최고</p>
					
					<p>그냥 최고</p>
				</textarea>
			</div>
			<label>가격 정보</label>
			<div id="packagesTable" class="table-package">
				<!-- 가격 정보 -->
				<table>
					<colgroup>
						<col>
						<col>
						<col>
						<col>
					</colgroup>
					<tbody>
						<tr class="package-type">
							<th>패키지</th>
							<td><b class="type">Basic</b><b class="title">패키지 설명</b></td>
							<td><b class="type">Standard</b><b class="title">패키지 설명</b></td>
							<td><b class="type">Premium</b><b class="title">패키지 설명 </b>
							</td>
						</tr>
						<tr class="description">
							<th></th>
							<td><textarea rows="3" th:type="text" th:maxlength="50"
									class="desc1" placeholder="패키지에 대한 설명을 적어주세요(50자 이내)"></textarea>
								<div id="test_cnt1">(0 / 50)</div></td>
							<td><textarea rows="3" th:type="text" th:maxlength="50"
									class="desc2" placeholder="패키지에 대한 설명을 적어주세요(50자 이내)"></textarea>
								<div id="test_cnt2">(0 / 50)</div></td>
							<td><textarea rows="3" th:type="text" th:maxlength="50"
									class="desc3" placeholder="패키지에 대한 설명을 적어주세요(50자 이내)"></textarea>
								<div id="test_cnt3">(0 / 50)</div></td>
						</tr>
						<tr>
							<th>
								<div class="fit-popover fit-popover-top fit-tooltip"
									data-position="top">
									<span class="fit-popover-content">원본 이미지 제공</span>
								</div>
							</th>
							<td class="boolean-pricing-factor included"></td>
							<td class="boolean-pricing-factor included"></td>
							<td class="boolean-pricing-factor included"></td>
						</tr>
						<tr>
							<th>
								<div class="fit-popover fit-popover-top fit-tooltip"
									data-position="top">
									<span class="fit-popover-content">상업적 이용 가능</span>
								</div>
							</th>
							<td class="boolean-pricing-factor included"></td>
							<td class="boolean-pricing-factor included"></td>
							<td class="boolean-pricing-factor included"></td>
						</tr>
						<tr>
							<th>
								<div class="fit-popover fit-popover-top fit-tooltip"
									data-position="top">
									<span class="fit-popover-content">SNS 이미지 키트 제공</span>
								</div>
							</th>
							<td class="boolean-pricing-factor"></td>
							<td class="boolean-pricing-factor included"></td>
							<td class="boolean-pricing-factor included"></td>
						</tr>
						<tr>
							<th>
								<div class="fit-popover fit-popover-top fit-tooltip"
									data-position="top">
									<span class="fit-popover-content">시안 개수</span>
								</div>
							</th>

							<td><div class="fake-radio-wrapper">
									<input type="number" class="form-control"
										name="basicDraftNumber" placeholder="개수">
								</div></td>
							<td><div class="fake-radio-wrapper">
									<input type="number" class="form-control"
										name="standardDraftNumber" placeholder="개수">
								</div></td>
							<td><div class="fake-radio-wrapper">
									<input type="number" class="form-control"
										name="premiumDraftNumber" placeholder="개수">
								</div></td>
						</tr>
						<tr>
							<th>
								<div class="fit-popover fit-popover-top fit-tooltip"
									data-position="top">
									<span class="fit-popover-content">수정 횟수</span>
								</div>
							</th>
							<td><div class="fake-radio-wrapper">
									<input type="number" class="form-control"
										name="basicRevisionNumber" placeholder="횟수">
								</div></td>
							<td><div class="fake-radio-wrapper">
									<input type="number" class="form-control"
										name="standardRevisionNumber" placeholder="횟수">
								</div></td>
							<td><div class="fake-radio-wrapper">
									<input type="number" class="form-control"
										name="premiumRevisionNumber" placeholder="횟수">
								</div></td>
						</tr>
						<tr class="delivery-time">
							<th>기본 작업일</th>
							<td>
								<div class="fake-radio-wrapper">
									<label class="fake-radio"><input type="number"
										class="form-control" name="basicDefaultDeliveryDate"
										id="basicDefaultDeliveryDate" placeholder="기본 작업일"> </label>
								</div>
							</td>
							<td>
								<div class="fake-radio-wrapper">
									<label class="fake-radio"><input type="number"
										class="form-control" name="standardDefaultDeliveryDate"
										id="standardDefaultDeliveryDate" placeholder="기본 작업일">
									</label>
								</div>
							</td>
							<td>
								<div class="fake-radio-wrapper">
									<label class="fake-radio"><input type="number"
										class="form-control" name="premiumDefaultDeliveryDate"
										id="premiumDefaultDeliveryDate" placeholder="기본 작업일">
									</label>
								</div>
							</td>
						</tr>
						<tr class="delivery-time">
							<th>최소 작업일(추가요금)</th>
							<td>
								<div class="fake-radio-wrapper">
									<div>
										<input type="hidden"
											name="gig_items[1][4694800919471][gig_item_id]"
											value="117210558"><input type="hidden"
											name="gig_items[1][4694800919471][quantity]" value="0">
									</div>
									<label class="fake-radio"> <label class="fake-radio">
											<p>최소 작업 소요일</p> <input type="number" class="form-control"
											name="basicCostomizedDeliveryDate"
											id="basicCostomizedDeliveryDate" placeholder="일(days)">
											<br>
											<p>작업단축 하루 당 추가요금</p> <input type="number"
											class="form-control" name="basicCostomizedDeliveryDate"
											id="basicCostomizedDeliveryDate" placeholder="추가요금(₩)">
											</p>
									</label>
								</div>
							</td>

							<td>
								<div class="fake-radio-wrapper">
									<div>
										<input type="hidden"
											name="gig_items[1][4694800919471][gig_item_id]"
											value="117210558"><input type="hidden"
											name="gig_items[1][4694800919471][quantity]" value="0">
									</div>
									<label class="fake-radio"> <label class="fake-radio">
											<p>최소 작업 소요일</p> <input type="number" class="form-control"
											name="standardCostomizedDeliveryDate"
											id="standardCostomizedDeliveryDate" placeholder="일(days)">
											<br>
											<p>작업단축 하루 당 추가요금</p> <input type="number"
											class="form-control" name="standardCostomizedDeliveryDate"
											id="standardCostomizedDeliveryDate" placeholder="추가요금(₩)">
											</p>
									</label>
								</div>
							</td>
							<td>
								<div class="fake-radio-wrapper">
									<div>
										<input type="hidden"
											name="gig_items[1][4694800919471][gig_item_id]"
											value="117210558"><input type="hidden"
											name="gig_items[1][4694800919471][quantity]" value="0">
									</div>
									<label class="fake-radio"> <label class="fake-radio">
											<p>최소 작업 소요일</p> <input type="number" class="form-control"
											name="premiumCostomizedDeliveryDate"
											id="premiumCostomizedDeliveryDate" placeholder="일(days)">
											<br>
											<p>작업단축 하루 당 추가요금</p> <input type="number"
											class="form-control" name="premiumCostomizedDeliveryDate"
											id="premiumCostomizedDeliveryDate" placeholder="추가요금(₩)">
											</p>
									</label>
								</div>
							</td>
						</tr>
						<tr class="select-package">
							<th>기본 금액</th>
							<td>
								<p class="price-label">
									<input type="number" class="form-control" name="baicPrice"
										id="baicPrice" placeholder="기본요금(₩)">
								</p>
							</td>
							<td>
								<p class="price-label">
									<input type="number" class="form-control" name="standardPrice"
										id="standardPrice" placeholder="기본요금(₩)">
								</p>
							</td>
							<td>
								<p class="price-label">
									<input type="number" class="form-control" name="premiumPrice"
										id="premiumPrice" placeholder="기본요금(₩)">
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<input type="submit" value="작성 완료" class="btn btn-primary">
		</form>
	</div>

	<!-- CK editor -->
	<script
		src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
	<!-- CK editor 호출 -->
	<script>
		var myEditor;
	    ClassicEditor
	        .create( document.querySelector( '#editor' ), {
	        	ckfinder: {
	        		uploadUrl: '/post/uploadImage'
        		}
	        }).then( editor => {
		        myEditor = editor;
		    })
	        .catch( error => {
	            console.error(error);
	        } );
	</script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script>
	$(function(){
        $('.desc1').keyup(function() {
        	 $('#test_cnt1').html("("+$(this).val().length+" / 50)");
        	 if($(this).val().length > 50) {
                 $(this).val($(this).val().substring(0, 50));
                 $('#test_cnt1').html("(50 / 50)");
             }
        });
        $('.desc2').keyup(function() {
       	 $('#test_cnt2').html("("+$(this).val().length+" / 50)");
       	 if($(this).val().length > 50) {
                $(this).val($(this).val().substring(0, 50));
                $('#test_cnt2').html("(50 / 50)");
            }
       });
        $('.desc3').keyup(function() {
       	 $('#test_cnt3').html("("+$(this).val().length+" / 50)");
       	 if($(this).val().length > 50) {
                $(this).val($(this).val().substring(0, 50));
                $('#test_cnt3').html("(50 / 50)");
            }
       });
    });
	$(function() {
		$('.imgUpload').click(function() {
			$(this).next().click(); /* NEXT는 다음 형제 - img와 input태그 사이 다른 태그 넣으면 안됨 */
			
		});
		$(".file").change(function(event) {
			const img = $(this).prev();  /* 미리등록 */
			var reader = new FileReader();
			reader.onload = function(e) {
				img.attr("src", e.target.result);	 /* 이 메서드가 실행될때의 THIS는 달라지기 때문에  */
			};
			reader.readAsDataURL(event.target.files[0]);
		}); 
				
		$("#submitBtn").click(function () {
			var formData = new FormData( $("#form"));
		    $.ajax({
		    	method: "POST",
		        data: formData,
		        dataType: 'json',
		        processData: false,
		        contentType: false,
		        success: function () {
		        	console.log("completed!");
		        },
		        error: function () {
		        	alert("failed! ")
		        }
		    });
		});		
		
	});
	
	</script>
	<!-- <script
		src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
	<script>
	var ta = document.querySelector('textarea');
	ta.style.display = 'none';
	autosize(ta);
	</script> -->
</section>
</html>

