<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}">
<head>
<style type="text/css">
.imgUpload {
	border: 4px solid grey;
	border-radius: 7px;
}
</style>
</head>

<section layout:fragment="contents">
	<div class="container">
		<h1>글쓰기</h1>
		<form name="board_write" method="post" action="/post/write">
			<div class="form-group">
				<label for="title">글 제목</label> <input type="text" name="title"
					class="form-control" placeholder="제목을 입력하세요">
			</div>
			<div class="form-group">
				<label for="title">사진 업로드</label>
				<table>
					<tr>
						<td><img id="rep1" name="img1"
							th:src="@{/images/imageUpladDefault.png}" class="imgUpload"
							width="270px" height="270px"></img> <input type="file" id="file1"
							name="file1" accept="image/*" style="display: none;" class="file"></td>
						<td><img id="rep2" name="img2"
							th:src="@{/images/imageUploadDefault.png}" class="imgUpload"
							width="270px" height="270px"></img><input type="file" id="file2"
							name="file2" accept="image/*" style="display: none;" class="file"></td>
						<td><img id="rep3" name="img3"
							th:src="@{/images/imageUploadDefault.png}" class="imgUpload"
							width="270px" height="270px"></img><input type="file" id="file3"
							name="file3" accept="image/*" style="display: none;" class="file"></td>
						<td><img id="rep4" name="img4"
							th:src="@{/images/imageUploadDefault.png}" class="imgUpload"
							width="270px" height="270px"></img><input type="file" id="file4"
							name="file4" accept="image/*" style="display: none;" class="file"></td>
					</tr>
					<tr>
						<td><img id="rep5" name="img5"
							th:src="@{/images/imageUploadDefault.png}" class="imgUpload"
							width="270px" height="270px"></img><input type="file" id="file5"
							name="file5" accept="image/*" style="display: none;" class="file"></td>
						<td><img id="rep6" name="img6"
							th:src="@{/images/imageUploadDefault.png}" class="imgUpload"
							width="270px" height="270px"></img><input type="file" id="file6"
							name="file6" accept="image/*" style="display: none;" class="file"></td>
						<td><img id="rep7" name="img7"
							th:src="@{/images/imageUploadDefault.png}" class="imgUpload"
							width="270px" height="270px"></img><input type="file" id="file7"
							name="file7" accept="image/*" style="display: none;" class="file"></td>
						<td><img id="rep8" name="img8"
							th:src="@{/images/imageUploadDefault.png}" class="imgUpload"
							width="270px" height="270px"></img><input type="file" id="file8"
							name="file8" accept="image/*" style="display: none;" class="file"></td>
					</tr>

				</table>
			</div>
			<div class="form-group">
				<label for="content">글 내용</label>
				<textarea id="editor" name="content" class="form-control"
					placeholder="내용을 입력하세요 &#13;&#10; 줄바꿈"></textarea>
			</div>
			<label>가격 정보</label>
			<div id="packagesTable" class="table-package">
				<!-- 가격 정보 -->
				<table>
					<colgroup>
						<col>
						<col>
						<col>
						<col>
					</colgroup>
					<tbody>
						<tr class="package-type">
							<th>패키지</th>
							<td><input class="price" placeholder="가격(₩)"></input>> <b
								class="type">Basic</b><b class="title">패키지 설명</b> </sup></td>
							<td><input class="price" placeholder="가격(₩)"></input> <b
								class="type">Standard</b><b class="title">패키지 설명</b> </sup></td>
							<td><input class="price" placeholder="가격(₩)"></input> <b
								class="type">Premium</b><b class="title">패키지 설명 </b> </sup></td>
						</tr>
						<tr class="description">
							<th></th>
							<td><textarea rows="3" th:type="text" th:maxlength="50"
									class="desc1" placeholder="패키지에 대한 설명을 적어주세요(50자 이내)"></textarea>
								<div id="test_cnt1">(0 / 50)</div></td>
							<td><textarea rows="3" th:type="text" th:maxlength="50"
									class="desc2" placeholder="패키지에 대한 설명을 적어주세요(50자 이내)"></textarea>
								<div id="test_cnt2">(0 / 50)</div></td>
							<td><textarea rows="3" th:type="text" th:maxlength="50"
									class="desc3" placeholder="패키지에 대한 설명을 적어주세요(50자 이내)"></textarea>
								<div id="test_cnt3">(0 / 50)</div></td>
						</tr>
						<tr>
							<th>
								<div class="fit-popover fit-popover-top fit-tooltip"
									data-position="top">
									<span class="fit-popover-content">Source File</span>
								</div>
							</th>
							<td class="boolean-pricing-factor included"></td>
							<td class="boolean-pricing-factor included"></td>
							<td class="boolean-pricing-factor included"></td>
						</tr>
						<tr>
							<th>
								<div class="fit-popover fit-popover-top fit-tooltip"
									data-position="top">
									<span class="fit-popover-content">Commercial Use</span>
								</div>
							</th>
							<td class="boolean-pricing-factor included"></td>
							<td class="boolean-pricing-factor included"></td>
							<td class="boolean-pricing-factor included"></td>
						</tr>
						<tr>
							<th>
								<div class="fit-popover fit-popover-top fit-tooltip"
									data-position="top">
									<span class="fit-popover-content">Interactive Mockup</span>
								</div>
							</th>
							<td class="boolean-pricing-factor"></td>
							<td class="boolean-pricing-factor included"></td>
							<td class="boolean-pricing-factor included"></td>
						</tr>
						<tr>
							<th>
								<div class="fit-popover fit-popover-top fit-tooltip"
									data-position="top">
									<span class="fit-popover-content"># of Pages / Screens</span>
								</div>
							</th>
							<td>10</td>
							<td>15</td>
							<td>25</td>
						</tr>
						<tr>
							<th>
								<div class="fit-popover fit-popover-top fit-tooltip"
									data-position="top">
									<span class="fit-popover-content">Revisions</span>
								</div>
							</th>
							<td>0</td>
							<td>1</td>
							<td>2</td>
						</tr>
						<tr class="delivery-time">
							<th>Delivery Time</th>
							<td>
								<div class="fake-radio-wrapper">
									<div>
										<input type="hidden"
											name="gig_items[1][4694800919471][gig_item_id]"
											value="117210558"><input type="hidden"
											name="gig_items[1][4694800919471][quantity]" value="0">
									</div>
									<label class="fake-radio"><input type="radio" name="1"
										value="0" checked=""><span class="radio-img"></span><span>3
											days</span></label> <label class="fake-radio"> <input type="radio"
										name="1" value="1"><span class="radio-img"></span><span>2
											days</span>
										<p class="faster-price">(+$2,008)</p>
									</label>
								</div>
							</td>
							<td>
								<div class="fake-radio-wrapper">
									<div>
										<input type="hidden"
											name="gig_items[2][0007284419489][gig_item_id]"
											value="117210558"><input type="hidden"
											name="gig_items[2][0007284419489][quantity]" value="0">
									</div>
									<label class="fake-radio"><input type="radio" name="2"
										value="0" checked=""><span class="radio-img"></span><span>4
											days</span></label> <label class="fake-radio"> <input type="radio"
										name="2" value="1"><span class="radio-img"></span><span>3
											days</span>
										<p class="faster-price">(+$4,818)</p>
									</label>
								</div>
							</td>
							<td>
								<div class="fake-radio-wrapper">
									<div>
										<input type="hidden"
											name="gig_items[3][1724678919506][gig_item_id]"
											value="117210558"><input type="hidden"
											name="gig_items[3][1724678919506][quantity]" value="0">
									</div>
									<label class="fake-radio"><input type="radio" name="3"
										value="0" checked=""><span class="radio-img"></span><span>7
											days</span></label> <label class="fake-radio"> <input type="radio"
										name="3" value="1"><span class="radio-img"></span><span>5
											days</span>
										<p class="faster-price">(+$8,029)</p>
									</label>
								</div>
							</td>
						</tr>
						<tr class="select-package">
							<th>Total</th>
							<td>
								<p class="price-label">$8,029</p>
								<button type="submit">Select</button>
							</td>
							<td>
								<p class="price-label">$11,240</p>
								<button type="submit">Select</button>
							</td>
							<td>
								<p class="price-label">$16,057</p>
								<button type="submit">Select</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<input type="submit" value="작성 완료" class="btn btn-primary">
		</form>
	</div>

	<!-- CK editor -->
	<script
		src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
	<!-- CK editor 호출 -->
	<script>
		var myEditor;
	    ClassicEditor
	        .create( document.querySelector( '#editor' ), {
	        	ckfinder: {
	        		uploadUrl: '/post/uploadImage'
        		}
	        }).then( editor => {
		        myEditor = editor;
		    })
	        .catch( error => {
	            console.error(error);
	        } );
	</script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script>
	$(function(){
        $('.desc1').keyup(function() {
        	 $('#test_cnt1').html("("+$(this).val().length+" / 50)");
        	 if($(this).val().length > 50) {
                 $(this).val($(this).val().substring(0, 50));
                 $('#test_cnt1').html("(50 / 50)");
             }
        });
        $('.desc2').keyup(function() {
       	 $('#test_cnt2').html("("+$(this).val().length+" / 50)");
       	 if($(this).val().length > 50) {
                $(this).val($(this).val().substring(0, 50));
                $('#test_cnt2').html("(50 / 50)");
            }
       });
        $('.desc3').keyup(function() {
       	 $('#test_cnt3').html("("+$(this).val().length+" / 50)");
       	 if($(this).val().length > 50) {
                $(this).val($(this).val().substring(0, 50));
                $('#test_cnt3').html("(50 / 50)");
            }
       });
    });
	$(function() {
		$('.imgUpload').click(function() {
			$(this).next().click(); /* NEXT는 다음 형제 - img와 input태그 사이 다른 태그 넣으면 안됨 */
			
		});
		$(".file").change(function(event) {
			const img = $(this).prev();  /* 미리등록 */
			var reader = new FileReader();
			reader.onload = function(e) {
				img.attr("src", e.target.result);	 /* 이 메서드가 실행될때의 THIS는 달라지기 때문에  */
			};
			reader.readAsDataURL(event.target.files[0]);
		}); 
				
		$("#submitBtn").click(function () {
			var formData = new FormData( $("#form"));
		    $.ajax({
		    	method: "POST",
		        data: formData,
		        dataType: 'json',
		        processData: false,
		        contentType: false,
		        success: function () {
		        	console.log("completed!");
		        },
		        error: function () {
		        	alert("failed! ")
		        }
		    });
		});		
		
	});
	
	</script>
</section>
</html>

