<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<div th:fragment="productList" class="main-page best-selling" >
		<div class="view_slider recommended pt-5">
			<div class="container">
				<div
					class="sorting-div d-flex align-items-center justify-content-between">
					<p class="mb-2">463 Services available</p>
				</div>
				<h3>Services In Web &amp; Mobile Design</h3>
			</div>
			<div class="container" id="productList">
				<div class="row">
					<div th:each="productList : ${productList}"
						class="col-md-3">
						<a href="product-detail.html"> <img class="img-fluid"
							src="images/list/v1.png" />
						</a>
						<div class="inner-slider">
							<div class="inner-wrapper">
								<div class="d-flex align-items-center">
									<span class="seller-image"> <img class="img-fluid"
										src="images/user/s3.png" alt='' />
									</span> <span class="seller-name"> <a
										th:text="${productList.nickname}" href="#">닉네임</a> <span
										th:text="${productList.job}"
										class="level hint--top level-one-seller"> 직업 </span>
									</span>
								</div>
								<h3 th:text="${productList.title}">제목</h3>
								<div class="content-info">
									<div class="rating-wrapper">
										<span class="gig-rating text-body-2"> <svg
												xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"
												width="15" height="15">
                                       <path fill="currentColor"
													d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                       </path>
                                    </svg>
											[[${productList.avg_star_point}]] <span
											th:text="'('+${productList.review_count}+')'">(리뷰
												수)</span>
										</span>
									</div>
								</div>
								<div class="footer">
									<i class="fa fa-heart" aria-hidden="true"></i>
									<div class="price">
										<a href="#"> Basic <span
											th:text="${productList.commission}"> ₩비용</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-pagination text-center">
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<li class="page-item"><a class="page-link" href="#"
						aria-label="Previous"> <span aria-hidden="true"><i
								class="fa fa-chevron-left" aria-hidden="true"></i></span> <!--                    <span class="sr-only"></span>-->
					</a></li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item active"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">4</a></li>
					<li class="page-item"><a class="page-link" href="#">5</a></li>
					<li class="page-item"><a class="page-link" href="#"
						aria-label="Next"> <span aria-hidden="true"><i
								class="fa fa-chevron-right" aria-hidden="true"></i></span> <!--                    <span class="sr-only"></span>-->
					</a></li>
				</ul>
			</nav>
		</div>

	</div>
</html>

