<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="review" class="box-title border-bottom p-3" style="width: 900px">
	<div class="review-section">
		<div class="d-flex align-items-center justify-content-between mb-4">
			<h4 class="m-0">
				리뷰<small><span class="star-rating-s15"></span></small>
			</h4>
			<select
				class="custom-select custom-select-sm border-0 shadow-sm ml-2">
				<option value="newest">최신순</option>
				<option value="star">별점순</option>
				<option>디자인</option>
				<option>영상</option>
				<option>IT</option>
			</select>
		</div>
		<div class="breakdown">
			<ul class="header-stars">
				<li>디자인<small> <span
						class="star-rating-s15"></span> <span
						class="total-rating-out-five">5</span>
				</small>
				</li>
				<li>영상 <small> <span
						class="star-rating-s15"></span> <span
						class="total-rating-out-five">5</span>
				</small>
				</li>
				<li> IT<small> <span
						class="star-rating-s15"></span> <span
						class="total-rating-out-five">5</span>
				</small>
				</li>
			</ul>
		</div>
	</div>
	<div class="review-list">
		<ul th:each="review : ${reviews}">
			<li>
				<div class="d-flex">
					<div class="left">
						<span> <img src="images/user/s6.png"
							class="profile-pict-img img-fluid" alt="">
						</span>
					</div>
					<div th:switch="${review.star_point}" class="right">
						<h4>
							[[${review.nickname}]] <span th:case="1"
								class="gig-rating text-body-2"> <svg
									xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"
									width="15" height="15">
                                          <path fill="currentColor"
										d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                          </path>
                                       </svg> [[${review.star_point}]]
							</span> <span th:case="2" class="gig-rating text-body-2"> <svg
									xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"
									width="15" height="15">
                                          <path fill="currentColor"
										d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                          </path>
                                       </svg> <svg
									xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"
									width="15" height="15">
                                          <path fill="currentColor"
										d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                          </path>
                                       </svg> [[${review.star_point}]]
							</span> <span th:case="3" class="gig-rating text-body-2"> <svg
									xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"
									width="15" height="15">
                                          <path fill="currentColor"
										d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                          </path>
                                       </svg> <svg
									xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"
									width="15" height="15">
                                          <path fill="currentColor"
										d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                          </path>
                                       </svg> <svg
									xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"
									width="15" height="15">
                                          <path fill="currentColor"
										d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                          </path>
                                       </svg> [[${review.star_point}]]
							</span> <span th:case="4" class="gig-rating text-body-2"> <svg
									xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"
									width="15" height="15">
                                          <path fill="currentColor"
										d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                          </path>
                                       </svg> <svg
									xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"
									width="15" height="15">
                                          <path fill="currentColor"
										d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                          </path>
                                       </svg> <svg
									xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"
									width="15" height="15">
                                          <path fill="currentColor"
										d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                          </path>
                                       </svg> <svg
									xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"
									width="15" height="15">
                                          <path fill="currentColor"
										d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                          </path>
                                       </svg> [[${review.star_point}]]
							</span> <span th:case="5" class="gig-rating text-body-2"> <svg
									xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"
									width="15" height="15">
                                          <path fill="currentColor"
										d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                          </path>
                                       </svg> <svg
									xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"
									width="15" height="15">
                                          <path fill="currentColor"
										d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                          </path>
                                       </svg> <svg
									xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"
									width="15" height="15">
                                          <path fill="currentColor"
										d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                          </path>
                                       </svg> <svg
									xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"
									width="15" height="15">
                                          <path fill="currentColor"
										d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                          </path>
                                       </svg> <svg
									xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"
									width="15" height="15">
                                          <path fill="currentColor"
										d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                          </path>
                                       </svg> [[${review.star_point}]]
							</span>

						</h4>

						<div class="review-description">
							<p th:text="${review.content}"></p>
						</div>
						<span th:text="${review.createdAt}"
							class="publish py-3 d-inline-block w-100"></span>
					</div>
				</div>
			</li>
		</ul>
	</div>
	         <div class="footer-pagination text-center">
            <nav aria-label="Page navigation example">
               <ul class="pagination">
                  <li class="page-item">
                     <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
                        <!--                    <span class="sr-only"></span>-->
                     </a>
                  </li>
                  <li th:each="num : ${#numbers.sequence(1, 3)}" class="page-item"><button th:text=${num} class="btn btn-outline-success"></button></li>
                  <li class="page-item active"><a class="page-link" href="#">2</a></li>
              
                  <li class="page-item">
                     <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                        <!--                    <span class="sr-only"></span>-->
                     </a>
                  </li>
               </ul>
            </nav>
         </div>
</div>


</html>